<template>
  <v-app>
    <v-container>
      <v-row justify="center">
        <v-btn color="green darken-1" text @click="upload">Upload</v-btn>
        <v-btn color="green darken-1" text @click="onPickFile">Choose File</v-btn>
        <input type="file" style="display:none" ref="fileInput" @change="onFilePicked" />
      </v-row>
    </v-container>
  </v-app>
</template>


<script>
import firebase from "firebase";

export default {
  name: "test2",
  components: {
    //HelloWorld,
  },
  data: () => ({
    //
    dialog: false,
    image: null,
    selectedFile: null
  }),

  methods: {
    onPickFile() {
      this.$refs.fileInput.click();
    },
    onFilePicked(event) {
      this.selectedFile = event.target.files[0];
      console.log(this.selectedFile.name);
    },

    upload() {
      // File or Blob named mountains.jpg
      let file = this.selectedFile;
      //const auth = firebase.auth();

      // Create the file metadata

      // Get a reference to the storage service, which is used to create references in your storage bucket
      const storage = firebase.storage();
      // Create a storage reference from our storage service
      const storageRef = storage.ref();

      // Upload file and metadata to the object 'images/mountains.jpg'
      const uploadTask = storageRef.child("images/" + file.name).put(file);

      // Listen for state changes, errors, and completion of the upload.
      uploadTask.on(
        firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
        function(snapshot) {
          // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
          let progress =
            (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          console.log("Upload is " + progress + "% done");
          switch (snapshot.state) {
            case firebase.storage.TaskState.PAUSED: // or 'paused'
              console.log("Upload is paused");
              break;
            case firebase.storage.TaskState.RUNNING: // or 'running'
              console.log("Upload is running");
              break;
          }
        },
        function(error) {
          // A full list of error codes is available at
          // https://firebase.google.com/docs/storage/web/handle-errors
          switch (error.code) {
            case "storage/unauthorized":
              // User doesn't have permission to access the object
              console.log("error" + error.code);

              break;

            case "storage/canceled":
              // User canceled the upload
              break;

            case "storage/unknown":
              // Unknown error occurred, inspect error.serverResponse
              break;
          }
        },
        function() {
          // Upload completed successfully, now we can get the download URL
          uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
            console.log("File available at", downloadURL);
          });
        }
      );
    }
  }
};
</script>