<template>
  <v-app style="font-family: 'Prompt', sans-serif;">
    <v-container v-if="content">
      <v-card class="overflow-hidden" style="background-color:#fafafa">
        <v-app-bar
          :collapse="!collapseOnScroll"
          :collapse-on-scroll="collapseOnScroll"
          fixed
          app
          color="#ff6600"
          dark
          dense
        >
          <v-toolbar-title>PassTick</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        </v-app-bar>

        <v-navigation-drawer v-model="drawer" src="../images/bg.png" app>
          <v-list nav dense>
            <v-list-item-group active-class="brown--text text--accent-4">
              <v-list-item>
                <v-list-item-title  @click="goHome">หน้าหลัก</v-list-item-title>
              </v-list-item>

              <v-list-item v-if="admin" @click="gocheckshop">
              <v-list-item-title>ตรวจสอบยอดของร้านค้า</v-list-item-title>
            </v-list-item>

              <v-list-item @click="goshop">
                <v-list-item-title>ดูร้านค้า</v-list-item-title>
              </v-list-item>

              <v-list-item v-if="checkShopAdmin" @click="gocheckpoint">
                <v-list-item-title>การอัปเดตยอดจากลูกค้า</v-list-item-title>
              </v-list-item>

              <v-list-item v-if="loggedIn" @click="goProfile">
                <v-list-item-title>โปรไฟล์</v-list-item-title>
              </v-list-item>
              
            </v-list-item-group>
          </v-list>
        </v-navigation-drawer>
      </v-card>
      <v-container class="mt-10">
        <v-row>
          <v-col cols="12" xs12 md12>
            <h1 style="color:#432711; text-align:center;">โครงการ</h1>
          </v-col>
        </v-row>

        <v-card>
          <v-card-title>
            <v-spacer></v-spacer>
            <v-text-field v-model="search" label="ค้นหา" single-line hide-details></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="project"
            :search="search"
            loading="true"
            loading-text="Loading... Please wait"
            @click:row="info"
            :v-if="test"
          ></v-data-table>
        </v-card>

        <v-row justify="center">
          <v-dialog v-model="adminDialog" max-width="400">
            
            <v-card>
            
              <v-col cols="12">
                  <v-row justify="end">
                  <v-btn
                    rounded
                    color="orange"
                    dark
                    class="appDefault mr-2"
                    @click="goclose"
                  >ปิด</v-btn>
                </v-row>
                <v-card-title class="headline appDefault">{{rTitle}}</v-card-title>
                <v-card-text class="appDefault">{{rMsg}}</v-card-text>
                <v-card-text
                  class="appDefault"
                >จำนวนเงินที่ต้องการ: {{rBudget}} บาท</v-card-text>
                <v-card-text
                  class="appDefault"
                >ผู้เสนอโครงการ : {{sender}}</v-card-text>
                <v-card-text class="appDefault">โหวตผ่าน: {{voteYes}} %</v-card-text>
                <v-card-text class="appDefault">โหวตไม่ผ่าน: {{voteNo}} %</v-card-text>
                <v-card-text class="appDefault">ยังไม่โหวต: {{notVote}} %</v-card-text>
                <v-row justify="center" class="mx-auto appDefault">
                  <span v-if="!voted">โหวตเรียบร้อยแล้ว</span>
                  <v-radio-group v-model="vote" v-if="voted">
                    <v-radio label="ผ่าน" value="yes"></v-radio>
                    <v-radio label="ไม่ผ่าน" value="no"></v-radio>
                  </v-radio-group>
              </v-row>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    rounded
                    color="#00cccc"
                    dark
                    class="appDefault"
                    @click="goDownload"
                  >ดูเอกสารโครงการ</v-btn>
                  <v-btn
                    rounded
                    color="green"
                    dark
                    class="appDefault"
                    @click="goback"
                  >ตกลง</v-btn>
                </v-card-actions>
              </v-col>
             
            </v-card>
          </v-dialog>
        </v-row>
      </v-container>
    </v-container>
    <v-container v-else>
      <div class="text-center" style="padding-top: 25px; padding-bottom:50px; ">
        <v-progress-circular indeterminate color="green"></v-progress-circular>
      </div>
    </v-container>
  </v-app>
</template>

<style>
  .appDefault{
    font-family: 'Prompt', sans-serif;
  }

</style>




<script>
import firebase from "firebase";
export default {
  data: () => ({
    content: false,
    rTitle: "รายละเอียดโครงการ",
    rMsg: "รายละเอียด....",
    rBudget: "... บาท",
    downloadUrl: "",
    dialog: false,
    collapseOnScroll: true,
    drawer: false,
    loggedIn: false,
    notLoggedIn: true,
    username: "",
    search: "",
    vote: "",
    owner: "",
    key: "",
    voted: true,
    pro_name: "",
    test: true,
    voteYes: 0,
    voteNo: 0,
    notVote:0,
    allvoter:0,
    admin: false,
    adminDialog: false,
    checkShopAdmin:false,
    sender:'Tmanranger',
    headers: [
      {
        text: "ชื่อโครงการ",
        align: "left",
        sortable: false,
        value: "name"
      },
      { text: "สถานะ", value: "status" }
    ],
    project: [] //{name,status,description,budget,download},
  }),
  methods: {
    goUserProject() {
      this.$router.push("/showproject");
    },
    goProfile() {
       if(this.shopAdmin){
        this.goShopAdmin()
      }
      else{
        this.$router.push("/profile");
        }
    },
    goLogin() {
      this.$router.push("/login");
    },
    goHome() {
      this.$router.push("/");
    },
    goRegister() {
      this.$router.push("/register");
    },
    goshop() {
      this.$router.push("/shop");
    },
    gocheckshop() {
      this.$router.push("/checkshop");
    },
    goclose() {
      this.dialog = false;
      this.adminDialog = false;
    },
    gocheckpoint(){
      this.$router.push("/shopaccept");
    },
    goback() {
      if (this.vote != "") {
        console.log("yes");
        console.log(this.key);
        this.voting(this.key, this.owner, this.pro_name);
      }
      this.dialog = false;
      this.adminDialog = false;
    },
    goDownload() {
      window.open(this.downloadUrl);
    },
    info(value) {
        this.dialog = false;
        this.adminDialog = true;
        this.rMsg = value.description;
        this.rTitle = value.name;
        this.rBudget = value.budget;
        this.downloadUrl = value.download;
        this.key = value.key;
        this.owner = value.owner;
        this.pro_name = value.name;
        this.sender = value.sender
        //console.log(this.sender)
        this.voteYes = parseFloat((value.voteYes/this.allvoter)*100).toFixed(0)
        this.voteNo = parseFloat((value.voteNo/this.allvoter)*100).toFixed(0)
        this.notVote = 100-this.voteYes-this.voteNo
        if (value.voter) {
          this.voted = false;
        } else if (!value.voter) {
          this.voted = true;
        }
    },
    voting(key, owner, projectName) {
      const vm = this;
      const projectIndex = vm.project.findIndex(
        project => project.name === projectName
      );
      const ref = "Projects/" + owner + "/" + key;
      const projectRef = firebase.database().ref(ref + "/voter");
      projectRef
        .push()
        .set({
          username: this.username
        })
        .then(() => {
          if (this.vote == "yes") {
            if (this.admin) {
              console.log("admin decision");
              firebase
                .database()
                .ref(ref)
                .update({ status: "ผ่าน" });
            } else if (!this.admin) {
              console.log("ref = " + ref);
              firebase
                .database()
                .ref(ref)
                .update({ yes: vm.project[projectIndex].voteYes + 1 });
            }
          } else if (this.vote == "no") {
            if (this.admin) {
              console.log("admin decision");
              firebase
                .database()
                .ref(ref)
                .update({ status: "ไม่ผ่าน" });
            } else if (!this.admin) {
              firebase
                .database()
                .ref(ref)
                .update({ no: vm.project[projectIndex].voteNo + 1 });
            }
          }
        })
        .then(() => {
          vm.vote = "";
          if (projectIndex > -1) {
            vm.project[projectIndex].voter = false;
            console.log(vm.project);

            this.update();
          }
        });
    },
    update() {
      //console.log("update");
      location.reload();
    },
    async allOfVoter() {
      const ref = firebase.database().ref('shop')
      const _ = require('lodash')
      const result =  await ref.once('value')
      let shop = _.toArray(result.val())
      this.allvoter = shop.length
      
    }

  },
  mounted: function() {
    const vm = this;
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        vm.username = this.username;
        vm.loggedIn = true;
        firebase
          .database()
          .ref("user")
          .once("value")
          .then(snapshot => {
            console.log("fetch");
            let data = snapshot.val();
            for (let i in data) {
              if (data[i].email.toLowerCase() == user.email) {
                this.username = data[i].username;
                console.log(data[i].role);
                if (data[i].role == "admin") {
                  vm.admin = true;
                  vm.content = true;
                  break;
                }
                if (data[i].role == "shopAdmin") {
                  vm.content = true;
                  vm.checkShopAdmin=true
                  break;
                } else {
                  vm.goUserProject();
                  break;
                }
              }
            }
          })
          .then(() => {
            vm.allOfVoter()
            firebase
              .database()
              .ref("Projects")
              .once("value")
              .then(snapshot => {
                let data = snapshot.val();
                for (let i in data) {
                  for (let j in data[i]) {
                    const projectVoter = [];
                    if (typeof data[i][j].voter != 'undefined') {
                      for (let k in data[i][j].voter) {
                        projectVoter.push(data[i][j].voter[k].username);
                      }
                      if (projectVoter.indexOf(vm.username) > -1) {
                        let projects = {
                          name: data[i][j].projectName,
                          status: data[i][j].status,
                          description: data[i][j].describe,
                          budget: data[i][j].budget,
                          download: data[i][j].fileURL,
                          key: j,
                          owner: i,
                          voter: true,
                          voteYes: parseInt(data[i][j].yes),
                          voteNo: parseInt(data[i][j].no),
                          date: data[i][j].sendTime,
                          time: data[i][j].time,
                          sender:i
                        };
                        vm.project.push(projects);
                      } else {
                        let projects = {
                          name: data[i][j].projectName,
                          status: data[i][j].status,
                          description: data[i][j].describe,
                          budget: data[i][j].budget,
                          download: data[i][j].fileURL,
                          key: j,
                          owner: i,
                          voter: false,
                          voteYes: parseInt(data[i][j].yes),
                          voteNo: parseInt(data[i][j].no),
                          date: data[i][j].sendTime,
                          time: data[i][j].time,
                          sender:i
                        };
                        vm.project.push(projects);
                      }
                    } else { // new project that no one have not vote yet
                      let projects = {
                        name: data[i][j].projectName,
                        status: data[i][j].status,
                        description: data[i][j].describe,
                        budget: data[i][j].budget,
                        download: data[i][j].fileURL,
                        key: j,
                        owner: i,
                        voter: false,
                        voteYes: parseInt(data[i][j].yes),
                        voteNo: parseInt(data[i][j].no),
                        date: data[i][j].sendTime,
                        time: data[i][j].time
                      };
                      vm.project.push(projects);
                    }
                  }
                  //console.log(vm.project);
                }
              })
              .then(() => {
                console.log("do");
                vm.project.sort((a, b) => {
                  if (parseInt(a.time) > parseInt(b.time)) {
                    //console.log("case1");
                    return -1;
                  } else if (parseInt(a.time) < parseInt(b.time)) {
                    //console.log("case2");
                    return 1;
                  } else if (parseInt(a.time) == parseInt(b.time)) {
                    //console.log("case3");
                    return 0;
                  }
                });
              });
          });
      } else {
        vm.$router.push("/showproject");
      }
    });
  }
};
</script>