<template>
  <v-app style="font-family: 'Prompt', sans-serif;">
    <v-card class="overflow-hidden" style="background-color:#fafafa">
      <v-app-bar
        :collapse="!collapseOnScroll"
        :collapse-on-scroll="collapseOnScroll"
        fixed
        app
        color="#ff6600"
        dark
        dense
      >
        <v-toolbar-title>PassTick</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      </v-app-bar>

      <v-navigation-drawer v-model="drawer" src="../images/bg.png" app>
        <v-list nav dense>
          <v-list-item-group active-class="brown--text text--accent-4">
            <v-list-item @click="goHomepage">
              <v-list-item-title>หน้าหลัก</v-list-item-title>
            </v-list-item>

            <v-list-item>
              <v-list-item-title>ตรวจสอบโครงการ</v-list-item-title>
            </v-list-item>

            <v-list-item  @click="goshop">
              <v-list-item-title>ดูร้านค้าที่เข้าร่วมโครงการ</v-list-item-title>
            </v-list-item>

            <v-list-item v-if="loggedIn" @click="goProfile">
              <v-list-item-title>โปรไฟล์</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </v-card>

    <v-container class="mt-10" v-if="admin">
      <v-row>
        <v-col cols="12" xs12 md12>
          <h1
            id="register"
            style="color:#432711; text-align:center; font-size:40px;"
          >ตรวจสอบยอดชำระของร้านค้าสมาชิก</h1>
        </v-col>
      </v-row>

      <v-row class="mt-12">
        <v-col cols="12" md="6" xl="6" v-for="(item,index) in shopList" :key="item.shopName">
          <v-card class="mx-auto" elevation="10" outlined style="border-color:orange;">
            <v-container>
              <v-row>
                <v-col cols="12" xs="12" md="12" xl="12" class="mt-auto">
                  <img
                    v-bind:src="item.logo"
                    style="vertical-align:middle;max-width:100px;padding-right:10px"
                  />
                  <span style="font-size:20px">{{item.shopName}}</span>
                </v-col>
              </v-row>
            </v-container>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="#00cccc" rounded width="200" @click="showInfo(index)">รายละเอียด</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-dialog v-model="dialog" max-width="300">
          <v-card>
            <v-card-title class="headline">{{rTitle}}</v-card-title>
            <v-container class="text-center">
              <img v-bind:src="imgLink" style="max-width:100px" />
            </v-container>
            <v-card outlined style="border-color:orange;" class="mx-5">
              <v-container class="mx-auto">
                <p>ร้าน : {{shopName}}</p>
                <p>ยอด : {{shopCost}} บาท</p>
                <p>ลด : {{shopSave}} ชิ้น</p>
                <p>ค้าง : {{shopOutstanding}} บาท</p>
              </v-container>
            </v-card>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-container class="text-center">
                <v-btn color="green darken-1" text @click="allSlip">สลิป</v-btn>
                <v-btn color="green darken-1" text @click="shopUpdate">อัพเดท</v-btn>
                <v-btn color="green darken-1" text @click="dialog=false">ตกลง</v-btn>
              </v-container>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>

      <v-row justify="center">
        <v-dialog max-width="400" v-model="slipDialog">
          <v-card v-if="slip">
            <v-card-title class="headline">รายการชำระเงิน</v-card-title>
            <v-col cols="12" md="12" xl="12" v-for="(item,index) in shopPayment" :key="index">
              <v-card
                class="mx-auto"
                elevation="10"
                outlined
                style="border-color:orange;"
                @click="showSlip(item.paymentSlip,item.amount,item.paymentDate)"
              >
                <v-card-title>{{item.uploadDate}}</v-card-title>
              </v-card>
            </v-col>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" text @click="slipDialog=false,slip=false">ตกลง</v-btn>
            </v-card-actions>
          </v-card>

          <v-card v-else>
            <v-card-title class="headline">รายการชำระเงิน</v-card-title>
            <v-card-text>ไม่มีข้อมูลการชำระเงิน</v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" text @click="slipDialog=false,slip=false">ตกลง</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>

      <v-row justify="center">
        <v-dialog v-model="update" max-width="400">
          <v-card>
            <v-card-title>อัพเดทยอดเงินของร้าน {{shopName}}</v-card-title>
            <v-container class="mx-auto" style="vertical-align:middle">
              <v-row>
                <v-col cols="6" xs="6" md="6" xl="6" class="pt-5">ยอดเงินที่ต้องการอัพเดท:</v-col>
                <v-col cols="6" xs="6" md="6" xl="6">
                  <v-text-field
                    label="จำนวนเงิน ( บาท )"
                    single-line
                    outlined
                    dense
                    v-model="updateAmount"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" text @click="updatePayment">ยืนยัน</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>

      <v-row justify="center">
        <v-dialog v-model="paymentHistory" max-width="400">
          <v-card>
            <v-card-title class="headline">Payment History</v-card-title>
            <v-container class="mx-auto">
              <v-img v-bind:src="slipSrc"></v-img>
              <v-card-text class="payment">ร้าน: {{shopName}}</v-card-text>
              <v-card-text class="payment">จำนวนเงินที่โอน: {{payAmount}} บาท</v-card-text>
              <v-card-text class="payment">โอนเมื่อ: {{payDate}}</v-card-text>
            </v-container>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" text @click="paymentHistory=false">ตกลง</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>

      <v-row justify="center">
        <v-dialog v-model="complete" max-width="400">
          <v-card v-if="complete">
            <v-card-title class="headline">อัพเดทเรียบร้อย</v-card-title>
            <v-card-text>ข้อมูลได้รับการอัพเดทแล้ว</v-card-text>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="complete=false,dialog=false">ยืนยัน</v-btn>
          </v-card>
        </v-dialog>
      </v-row>

      <v-row justify="center">
        <v-dialog v-model="loading" max-width="400">
          <v-card>
            <v-card-title class="headline">กำลังอัพเดท</v-card-title>
            <div class="text-center" style="padding-top: 25px; padding-bottom:50px; ">
              <v-progress-circular indeterminate color="green"></v-progress-circular>
            </div>
          </v-card>
        </v-dialog>
      </v-row>
    </v-container>
    
    <v-container v-else class="mt-10">
      <div class="text-center" style="padding-top: 25px; padding-bottom:50px; ">
              <v-progress-circular indeterminate color="green"></v-progress-circular>
            </div>
    </v-container>
  </v-app>
</template>

<style>
.payment {
  font-weight: bold;
}
</style>

<script>
import firebase from "firebase";
export default {
  data: () => ({
    rules: {
      required: value => !!value || "Required.",
      uploadAmount: value => {
        const pattern = "^[0-9]*$";
        return pattern.test(value) || "ไม่ถูก";
      }
    },
    collapseOnScroll: true,
    drawer: false,
    shopList: [],
    loggedIn: false,
    notLoggedIn: true,
    dialog: false,
    rTitle: "",
    rMsg: "",
    imgLink: "",
    shopName: "loading...",
    shopCost: 0,
    shopOutstanding: 0,
    shopSave: 0,
    paymentList: [],
    shopPayment: [],
    payAmount: 0,
    payDate: "",
    shopIndex: 0,
    slip: false,
    update: false,
    slipDialog: false,
    paymentHistory: false,
    updateAmount: "",
    slipSrc: "",
    loading: false,
    complete: false,
    status: "",
    email: "",
    admin: false
  }),
  methods: {
    goProfile() {
      this.$router.push("/profile");
    },
    goshop() {
      this.$router.push("/shop");
    },
    goHomepage() {
      this.$router.push("/");
    },
    showInfo(index) {
      this.rTitle = this.shopList[index].shopName;
      this.imgLink = this.shopList[index].logo;
      this.shopName = this.shopList[index].shopName;
      this.shopCost = this.shopList[index].cost;
      this.shopOutstanding = this.shopList[index].outstanding;
      this.shopSave = this.shopList[index].save;
      this.shopIndex = index;
      this.shopPayment = this.paymentList.filter(object => {
        return object.shop == this.shopName;
      });
      console.log(this.shopPayment);
      this.dialog = true;
    },
    allSlip() {
      this.slipDialog = true;
      if (this.shopPayment.length > 0) {
        console.log("tee");
        this.slip = true;
      }
    },
    showSlip(slipImg, amount, date) {
      this.paymentHistory = true;
      this.slipSrc = slipImg;
      this.payAmount = amount;
      this.payDate = date;
    },
    shopUpdate() {
      this.update = true;
    },
    updatePayment() {
      if (this.updateAmount.length <= 0) {
        return;
      }
      this.update = false;
      this.loading = true;
      const cost = parseInt(this.shopCost);
      const amount = parseInt(this.updateAmount);
      const outstanding = parseInt(this.shopOutstanding);
      const finalAmount = cost + amount;
      const ref = "shop/" + this.shopName;
      if (outstanding - amount <= 0) {
        firebase
          .database()
          .ref(ref)
          .update({ cost: finalAmount, outstanding: 0 })
          .then(() => {
            console.log("complete");
            this.shopList[this.shopIndex].cost = finalAmount;
            this.shopList[this.shopIndex].outstanding = 0;
            console.log(this.shopList[this.shopIndex]);
            this.loading = false;
            this.complete = true;
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        firebase
          .database()
          .ref(ref)
          .update({ cost: finalAmount, outstanding: outstanding - amount })
          .then(() => {
            console.log("complete");
            this.shopList[this.shopIndex].cost = finalAmount;
            this.shopList[this.shopIndex].outstanding = outstanding - amount;
            console.log(this.shopList[this.shopIndex]);
            this.loading = false;
            this.complete = true;
          })
          .catch(err => {
            console.log(err);
          });
      }
    }
  },

  mounted: function() {
    //let d = new Date()
    const vm = this;
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        vm.loggedIn = true;
        vm.notLoggedIn = false;
        vm.email = user.email;
      }
      firebase
        .database()
        .ref("user")
        .once("value")
        .then(snapshot => {
          const users = snapshot.val();
          for (let i in users) {
            if (users[i].email.toLowerCase() == vm.email && users[i].role == "admin") {
              vm.admin = true;
              break;
            }
          }
        })
        .then(() => {
          if (!vm.admin) {
            vm.goHomepage();
          } else {
            firebase
              .database()
              .ref("shop")
              .once("value")
              .then(snapshot => {
                const data = snapshot.val();
                //console.log(data)
                for (let i in data) {
                  vm.shopList.push({
                    shopName: i,
                    cost: data[i].cost,
                    logo: data[i].logo,
                    outstanding: data[i].outstanding,
                    save: data[i].pieces
                  });
                }
              })
              .then(() => {
                firebase
                  .database()
                  .ref("Payments")
                  .once("value")
                  .then(snapshot => {
                    const payment = snapshot.val();
                    for (let i in payment) {
                      for (let j in payment[i]) {
                        let shopPayment = {
                          shop: i,
                          amount: payment[i][j].amount,
                          paymentDate: payment[i][j].paymentDate,
                          paymentSlip: payment[i][j].paymentSlip,
                          time: payment[i][j].time,
                          uploadDate: payment[i][j].uploadDate
                        };
                        vm.paymentList.push(shopPayment);
                      }
                    }
                    //console.log(vm.paymentList)
                  });
              });
          }
        });
    });
  }
};
</script>