<template>
  <v-app style="background-color:#fafafa; font-family: 'Prompt', sans-serif;">
     <v-card
        class="overflow-hidden"
      >
        <v-app-bar
          :collapse="!collapseOnScroll"
          :collapse-on-scroll="collapseOnScroll"
          fixed
          app
          color="#ff6600"
          dark
          dense
        >
          <v-toolbar-title>PassTick</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        </v-app-bar>

      <v-navigation-drawer v-model="drawer" src="../images/bg.png" app>
        <v-list nav dense>
          <v-list-item-group active-class="brown--text text--accent-4">
            <v-list-item>
              <v-list-item-title @click="goHomepage">หน้าหลัก</v-list-item-title>
            </v-list-item>

              <v-list-item  @click="goshop">
              <v-list-item-title>ดูร้านค้า</v-list-item-title>
            </v-list-item>
            
           <v-list-item  @click="goProject">
              <v-list-item-title>ดูข้อเสนอโครงการ</v-list-item-title>
            </v-list-item>

           <v-list-item v-if="notLoggedIn" @click="goLogin">
              <v-list-item-title>ล็อกอิน</v-list-item-title>
            </v-list-item>
        
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
      </v-card>

      <v-container class="mt-10">
        <v-row>
          <v-col cols="12" xs12 md12>
            <v-img src="@/images/logo.png" width="500" class="mx-auto"></v-img>
          </v-col>
      
        </v-row>
        <v-row>
          <v-col cols="12" xs12 md12 id="userbut" style="text-align:center">
            <v-btn
              rounded
              x-large
              style="width:800px; font-size:1em;"
              :elevation="7"
              color="#00cccc"
              dark
              @click="registeruser"
            >สมัครสมาชิกสำหรับผู้ใช้งานปกติ</v-btn>
          </v-col>

           <v-col cols="12" xs12 md12 id="shopbut" style="text-align:center">
            <v-btn
              rounded
              x-large
              style="width:800px; font-size:1em;"
              :elevation="7"
              color="orange"
              dark
              @click="registershop"
            >สมัครสมาชิกสำหรับร้านเข้าร่วมโครงการ</v-btn>
          </v-col>
        </v-row>

      </v-container>

  </v-app>
</template>

<style>
#register {
  color: white;
}
#registerBut {
  text-align: center;
}
</style>

  <script>

export default {
  name: "register",
  components: {
    //HelloWorld,
  },
  data: () => ({
   
    collapseOnScroll: true,
    drawer: false,
    valids: true,
  
    loggedIn: false,
    notLoggedIn: true
  }),
  methods: {
 
     goHome() {
      console.log(this.valids);
      if (this.valids) {
        //this.$router.push("/");
        this.authLogin(this.email,this.password)
      } else {
        this.dialog = false;
        this.rTitle = "สำเร็จ";
        this.rMsg = "คลิกเพื่อเข้าสู่หน้าหลัก";
      }
    },
       goProject() {
      this.$router.push("/showproject");
    },
   
      goLogin() {
      this.$router.push("/login");
    },
    
     goHomepage() {
      this.$router.push("/");
    },
      goshop() {
      this.$router.push("/shop");
    },
      registeruser() {
      this.$router.push("/register");
    },
      registershop() {
      this.$router.push("/registershop");
    }
  
  
  
  }
};
</script>