<template>
  <v-app style="background-color:#fafafa">
    <v-container>
      <v-col cols="12" xs12 md12 xl12 lg12>
        <span style="color:#432711; font-size:2em;display:block;text-align:center">
          <h2>PassTick</h2>
        </span>
      </v-col>

      <v-col cols="12" xs12 md12 lg12 xl12 align="center" justify="center">
        <v-img src="../images/noplasticbag.png" max-height="500px" max-width="500px" />
      </v-col>
      <v-col cols="12" xs12 md12 align="center" justify="center">
        <v-select
          style="width:800px"
          :items="store"
          :menu-props="{ top: true, offsetY: true }"
          label="เลือกร้านค้าที่คุณอุดหนุน"
          v-model="selected"
        ></v-select>
      </v-col>

      <v-col cols="12" xs12 md12 lg12 xl12 align="center" justify="center">
        <v-combobox
          style="width:800px; "
          v-model="select"
          :items="piece"
          label="เลือกจำนวนพลาสติดที่คุณได้ลดการใช้"
        ></v-combobox>
      </v-col>
      <br />

      <v-col cols="12" xs12 md12 xl12 lg12 align="center" justify="center">
        <v-btn
          rounded
          x-large
          style="width:800px"
          :elevation="7"
          color="#00cccc"
          dark
          @click="update"
        >ตกลง</v-btn>
      </v-col>

      <v-row justify="center">
        <v-dialog v-model="dialog1" max-width="500">
          <v-card>
            <v-row>
              <v-col cols="12" xs12 md12>
                <h1 id="Login" style="color:grey;" class="mb-2">เข้าสู่ระบบ:</h1>
                <v-form ref="form" lazy-validation>
                  <v-text-field
                    label="ชื่อผู้ใช้"
                    placeholder="ชื่อผู้ใช้"
                    outlined
                    dense
                    required
                    v-model="username"
                  ></v-text-field>

                  <v-text-field
                    label="รหัสผ่าน"
                    placeholder="รหัสผ่าน"
                    outlined
                    dense
                    required
                    type="password"
                    v-model="password"
                  ></v-text-field>
                </v-form>
              </v-col>
            </v-row>
          
              <v-row justify='center' class="mb-2">
                  <v-btn rounded
                      color='green'
                      style="font-family: 'Prompt', sans-serif;"
                      width = 300
                      dark
                      @click="memberLogin">
                      เข้าสู่ระบบ
                  </v-btn>
              </v-row>
              <v-row justify ='center' class="mb-2">
                  <v-btn
                  rounded
                  style="font-family: 'Prompt', sans-serif;"
                  color="#3944bc"
                  dark
                  @click="facebookLogin"
                  width = 300
                >เข้าสู่ระบบด้วย Facebook</v-btn>
              </v-row>
              <v-row justify = 'center'>
                <v-btn
                rounded
                style="font-family: 'Prompt', sans-serif;"
                color="red"
                width = 300
                dark
                @click="gmailLogin"
                class='mb-4'
        
            >เข้าสู่ระบบด้วย Gmail</v-btn>
              </v-row>
          </v-card>
        </v-dialog>
      </v-row>

      <v-row justify="center">
        <v-dialog v-model="login" max-width="600">
          <v-card>
            <v-card-title class="headline">ขอบคุณที่รักสิ่งแวดล้อม</v-card-title>

            <v-card-text>เลือกยืนยัน หรือ เข้าสู่ระบบเพื่อสะสมคะแนน</v-card-text>
            <v-card-actions>
              <v-btn color="green darken-1" text @click="updateShop">ยืนยัน</v-btn>
              <v-btn color="green darken-1" text @click="dialog1=true,login=false">เข้าสู่ระบบ</v-btn>
            </v-card-actions>

            <v-row justify="center">
              <v-dialog v-model="error" max-width="600">
                <v-card>
                  <v-card-title class="headline">ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง</v-card-title>

                  <v-card-text>กรุณาตรวจสอบอีกครั้ง</v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn color="green darken-1" text @click="error=false,dialog1=false">ตกลง</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-row>
          </v-card>
        </v-dialog>
      </v-row>

      <v-row justify="center">
          <v-dialog justify="center" v-model="loading" max-width="400" persistent>
            <v-card>
              <v-card-title class="headline">รอสักครู่</v-card-title>
              <div class="text-center" style="padding-top: 25px; padding-bottom:50px; ">
                <v-progress-circular indeterminate color="green"></v-progress-circular>
              </div>
            </v-card>
          </v-dialog>
        </v-row>

         <v-row justify="center">
          <v-dialog justify="center" v-model="loading" max-width="400" persistent>
            <v-card>
              <v-card-title class="headline">รอสักครู่</v-card-title>
              <div class="text-center" style="padding-top: 25px; padding-bottom:50px; ">
                <v-progress-circular indeterminate color="green"></v-progress-circular>
              </div>
            </v-card>
          </v-dialog>
        </v-row>

        <v-row justify="center">
          <v-dialog v-model="complete" max-width="290" persistent>
            <v-card>
              <v-card-title class="headline">เรียบร้อย</v-card-title>

              <v-card-text>คลิกเพื่อกลับสู่หน้าหลัก</v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="green darken-1" text @click="goHome">ตกลง</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
    </v-container>
  </v-app>
</template>
<style>
.application {
  font-family: "Prompt", sans-serif;
}
</style>

<script>
import firebase from "firebase";
//import axios from 'axios'
export default {
  data() {
    return {
      select: "1",
      selected: "",
      piece: ["1", "2", "3", "4"],
      store: [],
      cost: 0,
      pieces: 0,
      outstanding: 0,
      dialog1: false,//login ways
      dialog2: false,
      username: "",
      password: "",
      save: "",
      key: "",
      valid: false,
      profile: "",
      login:false,
      error:false,
      loggedIn:false,
      member:false,
      email:'',
      loading:false,
      complete:false


    };
  },
  methods: {
    updateShop() {
      const vm = this
      vm.loading = true
      let shopref = firebase.database().ref("request/" + this.selected);
      shopref
        .push()
        .set({
          pieces: vm.select,
          profile:
            "https://firebasestorage.googleapis.com/v0/b/passtick2.appspot.com/o/profile%2Fprofile.png?alt=media&token=fc4c6e8d-829f-4e70-b49f-590e7246fcdf",
          key: "no",
          user: "ผู้ใช้ทั่วไป",
          time: Date.now()
        })
        .then(() => {
          vm.loading = false
          vm.complete = true
        })
        .catch(err => {
          alert(err);
        });
    },
    memberRequest(email){
      const vm = this
      firebase.database().ref('user').once('value')
      .then(snapshot=>{
        const userData = snapshot.val()
        for(let i in userData){
          if(userData[i].email == email){
            let shopRef = firebase.database().ref('request/'+vm.selected)
            let amount = vm.select
            shopRef.push().set({
              pieces: amount,
              profile: userData[i].profile,
              key: i,
              user:userData[i].username,
              time: Date.now()
            })
            vm.loading = false
            vm.complete = true
            return
          }
        }
      })
    },
    update(){
      if(this.selected.length > 0 ){
          if(this.member){
            this.loggedIn = true
            console.log('pass1')
            this.memberRequest(this.email)
            }else{
              console.log('pass2')
              this.login = true
              }
      } 
    },
    async checkmember(information){
      var _ = require('lodash')
      const ref = firebase.database().ref('user')
      const result = await ref.once('value')
      const userData = _.toArray(result.val()) 
      let test = userData.filter(obj => {
        return obj.email == information.email
      })
      if(test != 0){
        this.member = true
        this.update()
        //alert('whatttt')
      }
      else{
        this.pushUserData(information)
      }
    },
    async pushUserData(information) {
      await firebase.database().ref('user').push().set({
        username: information.fullname,
        email: information.email,
        fname: information.fullname.split(" ")[0],
        lname: information.fullname.split(" ")[1],
        save: 0,
        role: 'customer',
        profile:information.profile
        })
        
        .catch(err=>{
          console.log(err)
          alert('เกิดปัญหาบางอย่างขึ้น')
        })
      this.member = true
      this.update()
      
      
      

    },
    async facebookLogin(){
      //const vm = this
      const provide = new firebase.auth.FacebookAuthProvider()
      const result = await firebase.auth().signInWithPopup(provide)
      if(result){
        const obj = {
            facebook_id: result.additionalUserInfo.profile.id,
            fullname: result.additionalUserInfo.profile.name,
            email: result.additionalUserInfo.profile.email,
            profile: result.user.photoURL + "?width=1000"
          }
          this.checkmember(obj)
          

      }
      else{
        alert('error')
      }  
  
    },
    async gmailLogin(){
      //const vm = this
      const provider = new firebase.auth.GoogleAuthProvider()
      const result = await firebase.auth().signInWithPopup(provider)
      if(result){
         const obj = {
            google_id: result.additionalUserInfo.profile.id,
            fullname: result.additionalUserInfo.profile.name,
            email: result.additionalUserInfo.profile.email,
            profile: result.additionalUserInfo.profile.picture
          }
          this.checkmember(obj)
        }
        else{
          alert('เกิดปัญหาบางอย่างขึ้น')
        }
    },
    memberLogin(){
      //console.log(this.username)
      //console.log(this.password)
      console.log('member login')
      const vm = this
      vm.dialog1=false
      vm.login = false
      vm.loading = true
      firebase.database().ref('user').once('value')
      .then(snapshot => {
        const userData = snapshot.val()
        for(let i in userData){
          if(userData[i].username == vm.username && userData[i].password == vm.password){
            let email = userData[i].email
            vm.email = email
            vm.member = true
            firebase.auth().signInWithEmailAndPassword(email,vm.password)
            .then(()=>{
              if(!vm.loggedIn){
                    //console.log('tee')
                    console.log(this.loggedIn)
                    vm.dialog1 = false
                    vm.login = false
                    vm.update()
                  return
                  }
            })
            return
          }
        }
        vm.loading=false
        vm.error = true

      })
      .catch(err=>{
        console.log(err)
        vm.error = true
        
      })
    
    },
    goHome() {
      this.$router.push("/");
    },
  },
  mounted: function() {
    console.log(Date.now());
    firebase.auth().onAuthStateChanged(user=>{
      if(user){
        this.member = true
        this.email = user.email
      }
      else{
        this.member = false
      }
    })
    
    
    firebase
      .database()
      .ref("shop")
      .once("value")
      .then(snapshot => {
        let data = snapshot.val();
        for (let i in data) {
          this.store.push(i);
        }
        
      });
  }
};
</script>