<template>
  <v-app style="font-family: 'Prompt', sans-serif;">
    <v-card class="overflow-hidden" style="background-color:#fafafa">
      <v-app-bar
        :collapse="!collapseOnScroll"
        :collapse-on-scroll="collapseOnScroll"
        fixed
        app
        color="#ff6600"
        dark
        dense
      >
        <v-toolbar-title>PassTick</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      </v-app-bar>

      <v-navigation-drawer v-model="drawer" src="../images/bg.png" app>
        <v-list nav dense>
          <v-list-item-group active-class="brown--text text--accent-4">
            <v-list-item>
              <v-list-item-title>หน้าหลัก</v-list-item-title>
            </v-list-item>

             <v-list-item  @click="goshop">
              <v-list-item-title>ดูร้านค้า</v-list-item-title>
            </v-list-item>

             <v-list-item  @click="goProject">
              <v-list-item-title>ดูข้อเสนอโครงการ</v-list-item-title>
            </v-list-item>

            <v-list-item v-if="notLoggedIn" @click="goLogin">
              <v-list-item-title>เข้าสู่ระบบ</v-list-item-title>
            </v-list-item>

            <v-list-item v-if="notLoggedIn" @click="goRegister">
              <v-list-item-title>สมัครสมาชิก</v-list-item-title>
            </v-list-item>

            <v-list-item v-if="admin" @click="goCheckShop">
              <v-list-item-title>ตรวจสอบยอดของร้านค้า</v-list-item-title>
            </v-list-item>

            <v-list-item v-if="shopAdmin" @click="gocheckpoint">
              <v-list-item-title>การอัปเดตยอดจากลูกค้า</v-list-item-title>
            </v-list-item>

            <v-list-item v-if="loggedIn" @click="goProfile">
              <v-list-item-title>โปรไฟล์</v-list-item-title>
            </v-list-item>

          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>

      <v-layout row wrap justify-space-between style="padding-top:100px;">
        <v-flex xs10 md6 class="mx-auto">
          <div class="headline font-weight-bold" style="text-align:center">
            <h2 style="font-size:50px;color:#432711;font-family: 'Prompt', sans-serif;">PassTick</h2>
            <img src="../images/logo.png" style="width:300px;" />
          </div>

          <v-card color="#00cccc" dark elevation="10">
            <v-card-title
              class="headline"
              style="color:white;font-family: 'Prompt', sans-serif;"
            ><span style=" font-family: 'Prompt', sans-serif; color:white">ยอดเงินทั้งหมด</span></v-card-title>

            <v-card-text
              class="headline font-weight-bold"
              style="text-align:center; color:#white;font-family: 'Prompt', sans-serif;"
            >
              <span style="color:#432711; font-family: 'Prompt', sans-serif;">{{money}}</span>
              <span style="color:white; font-family: 'Prompt', sans-serif;"> บาท</span>
            </v-card-text>

            <v-card-actions>
              <v-btn text></v-btn>
            </v-card-actions>
          </v-card>

          <br />
          <v-card color="#00cccc" dark elevation="10">
            <v-card-title
              class="headline"
              style="color:white;"
            ><span style=" font-family: 'Prompt', sans-serif; color:white">ยอดพลาสติกที่ลดการใช้</span></v-card-title>

            <v-card-text
              class="headline font-weight-bold"
              style="text-align:center; color:white;font-family: 'Prompt', sans-serif;"
            >
              <span style="color:#432711; font-family: 'Prompt', sans-serif;">{{plastic}}</span>
              <span style="color:white;font-family: 'Prompt', sans-serif; "> ชิ้น</span>
            </v-card-text>

            <v-card-actions>
              <v-btn text></v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>

        <v-flex xs10 md5 class="mx-auto">
          <v-container
            class="headline font-weight-bold"
            style="color:grey;text-align:center;margin-top:40px"
          >
            <h1
              style="font-size:35px; font-family: 'Prompt', sans-serif; color:#432711"
            >การจัดอันดับ</h1>
          </v-container>

          <v-card class="mx-auto" style="margin-top:50px" color="orange" outlined elevation="10">
            <v-card-text>
              <v-simple-table fixed-header height="300px">
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th style="text-align:center">อันดับ</th>
                      <th></th>
                      <th style="text-align:center">ผู้ใช้</th>
                      <th style="text-align:center">ลดพลาสติก(ชิ้น)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item,index) in users" :key="index">
                      <td style="text-align:center">{{index+1}}</td>
                      <td style="text-align:center"><v-avatar outlined color="#00cccc" size="65px"><v-img v-bind:src="item.profile"></v-img></v-avatar></td>
                      <td style="text-align:center">{{item.username}}</td>
                      <td style="text-align:center">{{ item.save}}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
          <v-card class="mx-auto" style="margin-top:50px; " color="orange" outlined elevation="10">
            <v-card-text>
              <v-simple-table fixed-header height="300px" class="mx-auto">
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-center">อันดับ</th>
                      <th></th>
                      <th class="text-center">ร้านค้า</th>
                      <th class="text-center">ลดพลาสติก(ชิ้น)</th>
                      <th class="text-center">เป็นเงิน(บาท)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item,index) in shops " :key="index">
                      <td style="text-align:center">{{index+1}}</td>
                      <td><v-avatar outlined color="#00cccc" size="65px"><v-img v-bind:src="item.logo"></v-img></v-avatar></td>
                      <td style="text-align:center">{{ item.shopname }}</td>
                      <td style="text-align:center">{{ item.pieces }}</td>
                      <td style="text-align:center">{{item.cost}}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>

      <v-flex xs12 md11 class="mx-auto">
        <v-container class="headline font-weight-bold mt-5 mb-5 ms-4">
          <h1 style="font-size:35px; font-family: 'Prompt', sans-serif; color:#432711">กิจกรรม</h1>
        </v-container>
        <v-carousel height="40em">
          <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src"></v-carousel-item>
        </v-carousel>
      </v-flex>
    </v-card>
  </v-app>
</template>

<style>
.application {
  font-family: "Prompt", sans-serif;
}
</style>


<script>
import firebase from "firebase";
import moment from 'moment'
export default {
  data: () => ({
    collapseOnScroll: true,
    drawer: false,
    items: [
      {
        color: "#1F7087",
        src: require("@/images/ac1.jpeg")
      },
      {
        color: "#952175",
        src: require("@/images/ac2.jpg")
      },
      {
        color: "#952175",
        src: require("@/images/ac3.jpeg")
      }
    ],
    plastic: 0,
    money: 0,
    contact: {},
    users: [],
    shops: [],
    loggedIn: false,
    notLoggedIn: true,
    email:'',
    admin:false,
    shopAdmin:false
  }),
  methods: {
    goProfile() {
      if(this.shopAdmin){
        this.goShopAdmin()
      }
      else{
        this.$router.push("/profile");
        }
    },
    goLogin() {
      this.$router.push("/login");
    },
    goRegister() {
      this.$router.push("/choose");
    },
    goshop() {
      this.$router.push("/shop");
    },
    goCheckShop(){
      this.$router.push("/checkshop");
    },
    gocheckpoint(){
      this.$router.push("/shopaccept");
    },
    goShopAdmin(){
      this.$router.push("/shopAdmin");
    },
    goProject(){
      if(this.admin || this.shopAdmin){
        this.$router.push("/adminProject");
        console.log
      }
      else{
         this.$router.push("/showproject");
      }
    }
    
      
  // ...

    
  },

  mounted: function() {
    moment.locale('th')
     console.log(moment().format('LLL'))
    const vm = this
     firebase.auth().onAuthStateChanged(function(user) {
       if(user){
      vm.loggedIn = true;
      vm.notLoggedIn = false;
      vm.email = user.email
    }
    firebase.database().ref('user').once('value')
       .then(snapshot=>{
       let data=snapshot.val()
       for (let i in data) {
          //console.log(i)
          if(data[i].role == 'customer'){
            let user = {
            username: data[i].username,
            save: data[i].save,
            profile:data[i].profile
          }
          vm.users.push(user);
          }
          else if(data[i].role == 'admin' && data[i].email == vm.email){
            vm.admin = true
          }
          else if(data[i].role == 'shopAdmin' && data[i].email == vm.email){
            vm.shopAdmin = true
          }
       }
        vm.users.sort(function(a,b){
          if(parseInt(a.save) > parseInt(b.save)){
            return -1
          }
          else if (parseInt(a.save) < parseInt(b.save)){
            return 1
          }
          else if (parseInt(a.save) == parseInt(b.save)){
            return 0
          }

        })
      })
      .then(() => {
        firebase.database().ref('shop').once('value')
          .then(snapshot => {
            let shopData = snapshot.val();
            for (let i in shopData) {
              let shop = {
                shopname: i,
                cost: shopData[i].cost,
                pieces: shopData[i].pieces,
                logo:shopData[i].logo
              };
              vm.plastic += parseInt(shopData[i].pieces);
              vm.money += parseInt(shopData[i].cost);
              vm.shops.push(shop);
            }
            vm.shops.sort(function(a,b){
          if(parseInt(a.pieces) > parseInt(b.pieces)){
            return -1
          }
          else if (parseInt(a.pieces) < parseInt(b.pieces)){
            return 1
          }
          else if (parseInt(a.pieces) == parseInt(b.pieces)){
            return 0
          }

        })
          }) .then(()=>{
        vm.plastic = vm.plastic.toLocaleString()
        vm.money = vm.money.toLocaleString()
      });
      })
     
     }) 
  }
}
</script>