<template>
  <v-app style="background-color:#fafafa; font-family: 'Prompt', sans-serif;">
     <v-card
        class="overflow-hidden"
      >
        <v-app-bar
          :collapse="!collapseOnScroll"
          :collapse-on-scroll="collapseOnScroll"
          fixed
          app
          color="#ff6600"
          dark
          dense
        >
          <v-toolbar-title>PassTick</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        </v-app-bar>

      <v-navigation-drawer v-model="drawer" src="../images/bg.png" app>
        <v-list nav dense>
          <v-list-item-group active-class="brown--text text--accent-4">
            <v-list-item>
              <v-list-item-title @click="goHomepage">หน้าหลัก</v-list-item-title>
            </v-list-item>

              <v-list-item  @click="goshop">
              <v-list-item-title>ดูร้านค้า</v-list-item-title>
            </v-list-item>

            <v-list-item v-if="notLoggedIn" @click="goRegister">
              <v-list-item-title>สมัครสมาชิก</v-list-item-title>
            </v-list-item>

          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
      </v-card>

      <v-container class="mt-10">
        <v-row>
          <v-col cols="12" xs12 md12>
            <v-img src="@/images/logo.png" width="500" class="mx-auto"></v-img>
          </v-col>
          <v-col cols="12" xs12 md12>
            <h1 id="Login" style="color:#432711;font-family: 'Prompt', sans-serif;">เข้าสู่ระบบ:</h1>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" xs12 md12>
            <v-form ref="form" lazy-validation>
              <v-text-field
              :rules="[rules.required]"
                label="ชื่อผู้ใช้"
                placeholder="ชื่อผู้ใช้"
                outlined
                color="orange"
                dense
                v-model="username"
              ></v-text-field>

              <v-text-field
              :append-icon="showpassword ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.required]"
              :type="showpassword ? 'text' : 'password'"
              class="input-group--focused"
                label="รหัสผ่าน"
                placeholder="รหัสผ่าน"
                outlined
                color="orange"
                dense
                required
                v-model="password"
                 @click:append="showpassword = !showpassword"
              ></v-text-field>
            </v-form>
          </v-col>
          <v-col cols="12" xs12 md12 id="LoginBut" style="text-align:center">
            <v-btn
              rounded
              x-large
              style="width:800px; font-size:1em;"
              :elevation="7"
              color="#00cccc"
              dark
              @click="login"
            >เข้าสู่ระบบ</v-btn>
          </v-col>
          <v-col cols="12" xs12 md12 id="LoginBut" style="text-align:center">
            <v-btn
              rounded
              x-large
              style="width:800px; font-size:1em;"
              :elevation="7"
              color="#3944bc"
              dark
              @click="facebookLogin"
             
            >เข้าสู่ระบบด้วย Facebook</v-btn>
          </v-col>
          <v-col cols="12" xs12 md12 id="LoginBut" style="text-align:center">
            <v-btn
              rounded
              x-large
              style="width:800px; font-size:1em;"
              :elevation="7"
              color="red"
              dark
              @click="gmailLogin"
        
            >เข้าสู่ระบบด้วย Gmail</v-btn>
          </v-col>
        </v-row>

        <v-row justify="center">
          <v-dialog v-model="dialog" max-width="290" persistent>
            <v-card>
              <v-card-title class="headline">{{rTitle}}</v-card-title>

              <v-card-text>{{rMsg}}</v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="green darken-1" text @click="goHome">ตกลง</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
      </v-container>

      <v-row justify="center">
          <v-dialog  justify="center" v-model="loading" max-width="400" persistent>
            <v-card>
              <v-card-title class="headline">{{rTitle}}</v-card-title>
              <div class="text-center" style="padding-top: 25px; padding-bottom:50px; ">
              <v-progress-circular indeterminate color="green"></v-progress-circular>
              </div>
            </v-card>
          </v-dialog>
        </v-row>  

  </v-app>
</template>

<style>
#register {
  color: white;
}
#registerBut {
  text-align: center;
}
</style>

  <script>
import firebase from 'firebase'

export default {
  name: "register",
  components: {
    //HelloWorld,
  },
  data: () => ({
    showpassword:false,
     rules: {
          required: value => !!value || 'จำเป็นต้องกรอก',          
        },
    username: "",
    password: "",
    email:'',
    dialog: false,
    collapseOnScroll: true,
    drawer: false,
    valids: true,
    rTitle: "สำเร็จ",
    rMsg: "คลิกเพื่อเข้าสู่หน้าหลัก",
    loggedIn: false,
    notLoggedIn: true,
    shopAdmin:false,
    loading:false
  }),
  methods: {
    login() {
      this.rTitle = 'กำลังเข้าสู่ระบบ'
      this.loading = true
        firebase.database().ref('user').once('value')
        .then(snapshot => {
          let data = snapshot.val();
          for (let i in data) {
            //console.log('username = '+this.username)
            //console.log('password'+ this.password)
            if (
              this.username == data[i].username &&
              this.password == data[i].password
            ) {
              if(data[i].role =="shopAdmin"){
                console.log("shopAdmin")
                this.shopAdmin = true
              }
              console.log("correct");
              console.log(data[i].role)
              this.rTitle = 'สำเร็จ'
              this.loading = false
              this.dialog = true
              this.valids = true
              this.email = data[i].email
              return
            }
          }
          console.log("incorrect");
          this.loading = false
          this.rTitle = "เข้าสู่ระบบไม่สำเร็จ";
          this.rMsg = "ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง";
          this.username = "";
          this.password = "";
          this.dialog = true;
          this.valids = false;
        });
    },
    authLogin(email,password){
      const vm = this
      const auth = firebase.auth()
      auth.signInWithEmailAndPassword(email,password)
      .then(() => {
        //console.log(auth.currentUser.email)
        if(this.shopAdmin){
          vm.goshopAdmin()
        }
        else{
          vm.goHomepage()
        }
      })

    },
     goHome() {
      console.log(this.valids);
      if (this.valids) {
        this.authLogin(this.email,this.password)
      } else {
        this.dialog = false;
        this.rTitle = "สำเร็จ";
        this.rMsg = "คลิกเพื่อเข้าสู่หน้าหลัก";
      }
    },
    goRegister() {
      this.$router.push("/choose");
    },
     goHomepage() {
      this.$router.push("/")
    },
      goshop() {
      this.$router.push("/shop");
    },
    goshopAdmin() {
      this.$router.push("/shopAdmin");
    },
    async checkmember(information){
      var _ = require('lodash')
      const ref = firebase.database().ref('user')
      const result = await ref.once('value')
      const userData = _.toArray(result.val()) 
      let test = userData.filter(obj => {
        return obj.email == information.email
      })
      if(test != 0){
        this.goHomepage()
        //alert('whatttt')
      }
      else{
        this.pushUserData(information)
      }
    },
    async pushUserData(information) {
      await firebase.database().ref('user').push().set({
        username: information.fullname,
        email: information.email,
        fname: information.fullname.split(" ")[0],
        lname: information.fullname.split(" ")[1],
        save: 0,
        role: 'customer',
        profile:information.profile
        })
      this.goHomepage()
      

    },
    async facebookLogin(){
      //const vm = this
      const provide = new firebase.auth.FacebookAuthProvider()
      const result = await firebase.auth().signInWithPopup(provide)
      if(result){
        const obj = {
            facebook_id: result.additionalUserInfo.profile.id,
            fullname: result.additionalUserInfo.profile.name,
            email: result.additionalUserInfo.profile.email,
            profile: result.user.photoURL + "?width=1000"
          }
          this.checkmember(obj)
          

      }
      else{
        alert('error')
      }  
  
    },
    async gmailLogin(){
      //const vm = this
      const provider = new firebase.auth.GoogleAuthProvider()
      const result = await firebase.auth().signInWithPopup(provider)
      if(result){
         const obj = {
            google_id: result.additionalUserInfo.profile.id,
            fullname: result.additionalUserInfo.profile.name,
            email: result.additionalUserInfo.profile.email,
            profile: result.additionalUserInfo.profile.picture
          }
          this.checkmember(obj)
        }
        else{
          alert('error')
        }
    },
  },
  
};
</script>