<template>
  <v-app style="background-color:#fafafa;font-family: 'Prompt', sans-serif;">
    <v-container v-if="content">
    <v-card class="overflow-hidden">
      <v-app-bar
        :collapse="!collapseOnScroll"
        :collapse-on-scroll="collapseOnScroll"
        fixed
        app
        color="#ff6600"
        dark
        dense
      >
        <v-toolbar-title>PassTick</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      </v-app-bar>

      <v-navigation-drawer v-model="drawer" src="../images/bg.png" app>
        <v-list nav dense>
          <v-list-item-group active-class="brown--text text--accent-4">
            <v-list-item>
              <v-list-item-title @click="goHomepage">หน้าหลัก</v-list-item-title>
            </v-list-item>

            <v-list-item @click="goshop">
              <v-list-item-title>ดูร้านค้า</v-list-item-title>
            </v-list-item>

            <v-list-item @click="goproject">
              <v-list-item-title>ดูข้อเสนอโครงการ</v-list-item-title>
            </v-list-item>

             <v-list-item  @click="gocheckpoint">
              <v-list-item-title>อัปเดตยอดจากลูกค้า</v-list-item-title>
            </v-list-item>

            <v-list-item @click="goprofile">
              <v-list-item-title>โปรไฟล์</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </v-card>
    <v-container>
      <h1 style="color:#432711; text-align:center; font-size:40px; padding-top:60px;">การชำระเงินเข้ากองทุน</h1>
    <v-layout row wrap justify-space-between style="padding-top:30px;">
      <v-flex xs10 md6 class="mx-auto" style="padding-bottom:20px;">
        <h1 style="color:#432711; text-align:center; padding-bottom:20px;">รายละเอียดการชำระเงิน</h1>
        <v-card outlined elevation="10" style="padding:20px; border-color:orange;">
          <v-card-text class="vtext">หมายเลขบัญชี : xxxx</v-card-text>
          <v-card-text class="vtext">ชื่อบัญชี่ : xxxx</v-card-text>
          <v-card-text class="vtext">สาขา : xxxx</v-card-text>
          <v-card-text class="vtext">จำนวนเงินที่ต้องชำระ : {{outstanding}} บาท</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs10 md5 class="mx-auto" >
        <h1 style="color:#432711; text-align:center; padding-bottom:20px;">การแจ้งโอน</h1>
        <v-card outlined elevation="10" style="padding:20px; border-color:orange;">
          <v-form ref="form" v-model="valid" lazy-validation>
            <h3 style="color:#432711;font-family: 'Prompt', sans-serif;padding:15px;">ชื่อร้านค้า : {{shop}}</h3>
            <v-text-field
              label="โอนจากธนาคาร"
              placeholder="โอนจากธนาคาร"
              outlined
              color="orange"
              dense
              required
              v-model="bank"
              
            ></v-text-field>

            <v-text-field
              label="จำนวนเงินที่โอน"
              placeholder="จำนวนเงินที่โอน"
              outlined
              color="orange"
              dense
              v-model="amount"
            
            ></v-text-field>

            <v-text-field
              label="วัน/เวลาที่โอน"
              placeholder="วัน/เวลาที่โอน"
              outlined
              color="orange"
              dense
              type="datetime-local"
              v-model="payDate"
          
            ></v-text-field>        
          </v-form>
         
          <v-btn
            rounded
            x-large
            style="width:800px; font-size:1em;"
            :elevation="7"
            color="orange"
            dark
            @click="onPickFile"
        
          >อัพโหลดหลักฐานการแจ้งโอน</v-btn>
          <input type="file" style="display:none" ref="fileInput" @change="onFilePicked" />
     
        </v-card>
      </v-flex>
    </v-layout>
      
        <v-col cols="12" xs12 md12 id="registerBut">
          <v-btn
            rounded
            x-large
            style="width:800px; font-size:1em;"
            :elevation="7"
            color="#00cccc"
            dark
            @click="upload"
     
          >ยืนยันการโอนชำระเงิน</v-btn>
        </v-col>
        <v-row justify="center">
          <v-dialog  justify="center" v-model="loading" max-width="400">
            <v-card>
              <v-card-title class="headline">{{rTitle}}</v-card-title>
              <v-card-text v-if="success || exception">{{rMsg}}</v-card-text>
              <v-btn color="green darken-1" text @click="goprofile" v-if="success || exception">ตกลง</v-btn>
              <div class="text-center" style="padding-top: 25px; padding-bottom:50px; " v-else>
              <v-progress-circular indeterminate color="green"></v-progress-circular>
              </div>
            </v-card>
          </v-dialog>
        </v-row>
        </v-container>
    </v-container>

     <v-container v-else>
      <div class="text-center" style="padding-top: 25px; padding-bottom:50px; ">
        <v-progress-circular indeterminate color="green"></v-progress-circular>
      </div>
    </v-container>
  </v-app>
</template>

<style>
.vtext{
    font-size: 20px;
    padding: 28px;
}

</style>

 <script>
 import firebase from 'firebase'
 import moment from 'moment'
 export default {
  data: () => ({
    collapseOnScroll: true,
    drawer: false,
    username:'loading',
    shop:'loading',
    outstanding:'loading',
    shopAdmin:false,
    payDate:'',
    loading:false,
    rTitle:'',
    rMsg:'',
    billUrl:'',
    amount:'',
    bank:'',
    success:false,
    exception:false,
    content:false
  }),
  methods: {
    goHomepage() {
      this.$router.push("/");
    },
    goshop() {
      this.$router.push("/shop");
    },
    goproject() {
      this.$router.push("/adminProject");
    },
    goprofile() {
      this.$router.push("/shopadmin");
    },
    gocheckpoint(){
      this.$router.push("/shopaccept");
    },
  
    onPickFile() {
      this.$refs.fileInput.click();
    },
    onFilePicked(event) {
      let length = event.target.files.length
      this.selectedFile = event.target.files[length-1];
      console.log(this.selectedFile.name);
    },
    upload() {
      // File or Blob named mountains.jpg
      const vm = this;
      vm.rTitle = 'กำลังอัพโหลด'
      vm.loading = true
      let file = this.selectedFile;
      if(file == null){
        vm.rTitle = 'ผิดผลาด'
        vm.rMsg = 'กรุณาอัพโหลดหลักฐานการชำระเงิน'
        vm.exception = true
        return
      }
      //const auth = firebase.auth();

      // Create the file metadata

      // Get a reference to the storage service, which is used to create references in your storage bucket
      const storage = firebase.storage();
      // Create a storage reference from our storage service
      const storageRef = storage.ref();

      // Upload file and metadata to the object 'images/mountains.jpg'
      const uploadTask = storageRef.child("Payment/" + file.name).put(file);

      // Listen for state changes, errors, and completion of the upload.
      uploadTask.on(
        firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
        function(snapshot) {
          // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
          let progress =
            (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          console.log("Upload is " + progress + "% done");
          switch (snapshot.state) {
            case firebase.storage.TaskState.PAUSED: // or 'paused'
              console.log("Upload is paused");
              break;
            case firebase.storage.TaskState.RUNNING: // or 'running'
              console.log("Upload is running");
              break;
          }
        },
        function(error) {
          // A full list of error codes is available at
          // https://firebase.google.com/docs/storage/web/handle-errors
          switch (error.code) {
            case "storage/unauthorized":
              // User doesn't have permission to access the object
              console.log("error" + error.code);

              break;

            case "storage/canceled":
              // User canceled the upload
              break;

            case "storage/unknown":
              // Unknown error occurred, inspect error.serverResponse
              break;
          }
        },
        function() {
          
          // Upload completed successfully, now we can get the download URL
          uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
            console.log("File available at", downloadURL);
            // upload Reference to database
            vm.billUrl = downloadURL;
            console.log('username: ' +vm.username)
            const ref = "Payments/" + vm.shop;
            console.log('ref: ' + ref)
            const paymentRef = firebase.database().ref(ref);
            moment.locale('th')
            paymentRef
              .push()
              .set({
                uploadDate: moment().format('LLL'),
                time: Date.now(),
                paymentDate: vm.payDate,
                paymentSlip: vm.billUrl,
                amount: vm.amount,
                bank: vm.bank
              })
              .then(function() {
                vm.success = true
                vm.rTitle = 'อัพโหลดสำเร็จ'
                vm.rMsg = 'ส่งรายการชำระเงินเรียบร้อยแล้ว'
                
              })
              .catch(function(err) {
                console.log("error: " + err);
              });
          });
        }
      );
    }

  },
  mounted:function(){
    const vm = this
    firebase.auth().onAuthStateChanged(user => {
      if(user){
        //console.log('user is logged in')
        firebase.database().ref('user').once('value')
        .then(snapshot => {
          const data = snapshot.val()
          for(let i in data){
            if(data[i].email.toLowerCase() == user.email && data[i].role == 'shopAdmin'){
              vm.content = true
              console.log('found')
              vm.username = data[i].username
              vm.shop = data[i].shop
              vm.shopAdmin = true
              break 
            }
            
          }
        })
        .then(() => {
          if(!vm.shopAdmin){
            vm.goHomepage()
          }
          
          else{
            firebase.database().ref('shop/' + vm.shop).once('value')
          .then(snapshot => {
            const shopData = snapshot.val()
            //console.log(shopData)
            vm.outstanding = parseInt(shopData.outstanding)
          })
          }
        })
      }
      else{
        vm.goHomepage()
        return
      }
    })
    
  }
};
</script>