<template>
  <v-app style="background-color:#fafafa;font-family: 'Prompt', sans-serif;">
    <v-container v-if="content">
      <v-card class="overflow-hidden">
        <v-app-bar
          :collapse="!collapseOnScroll"
          :collapse-on-scroll="collapseOnScroll"
          fixed
          app
          color="#ff6600"
          dark
          dense
        >
          <v-toolbar-title>PassTick</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        </v-app-bar>

        <v-navigation-drawer v-model="drawer" src="../images/bg.png" app>
          <v-list nav dense>
            <v-list-item-group active-class="brown--text text--accent-4">
              <v-list-item>
                <v-list-item-title @click="goHomepage">หน้าหลัก</v-list-item-title>
              </v-list-item>

              <v-list-item @click="goshop">
                <v-list-item-title>ดูร้านค้า</v-list-item-title>
              </v-list-item>

              <v-list-item @click="goshowproject">
                <v-list-item-title>ดูข้อเสนอโครงการ</v-list-item-title>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-navigation-drawer>
      </v-card>

      <v-container class="mt-10">
        <v-row>
          <v-col cols="12" xs12 md12 class="text-center">
            <v-avatar outlined color="#00cccc" size="170px">
              <v-img v-bind:src="profile"></v-img>
            </v-avatar>
            <v-row justify="center" class="mt-2">
              <v-btn rounded color="orange" outlined @click="onPickFile">แก้ไขรูปโปรไฟล์</v-btn>
              <input
                type="file"
                style="display:none"
                ref="fileInput"
                accept="image/*"
                @change="onFilePicked"
              />
            </v-row>
          </v-col>
          <v-col cols="12" xs12 md12>
            <h1 id="username" style="color:#432711; text-align:center;">ชื่อผู้ใช้: {{username}}</h1>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" xs12 md12>
            <v-card outlined elevation="10" style="padding:20px; border-color:orange;">
              <h2
                id="reduce"
                style="color:#432711; padding-left:30px; padding-top:30px; font-size:20px"
              >ลดขยะพลาสติก : {{save}} ชิ้น</h2>

              <h2
                id="name"
                style="color:#432711; padding-left:30px; padding-top:30px; font-size:20px"
              >ชื่อ : {{fname}} {{lname}}</h2>
              <h2
                id="email"
                style="color:#432711; padding-left:30px; padding-top:30px; padding-bottom:30px; font-size:20px"
              >อีเมล : {{email}}</h2>
            </v-card>
          </v-col>
        </v-row>

        <v-col cols="12" xs12 md12 id="LogoutBut" style="text-align:center" v-if="myProject">
          <v-btn
            rounded
            x-large
            style="width:800px; font-size:1em;"
            :elevation="7"
            color="#00cccc"
            @click="goproject"
          >
            <span style="color:white;">ส่งข้อเสนอโครงการ</span>
          </v-btn>
        </v-col>
        <v-col cols="12" xs12 md12 id="LogoutBut" style="text-align:center" v-if="myProject">
          <v-btn
            rounded
            outlined
            x-large
            style="width:800px; font-size:1em;"
            :elevation="7"
            color="#00cccc"
            @click="gouserproject"
          >ดูโครงการของฉัน</v-btn>
        </v-col>

        <v-col cols="12" xs12 md12 id="LogoutBut" style="text-align:center" v-if="admincheck">
          <v-btn
            rounded
            x-large
            style="width:800px; font-size:1em;"
            :elevation="7"
            color="#00cccc"
            @click="gocheckshop"
          >ตรวจสอบยอดของร้านค้า</v-btn>
        </v-col>

        <v-col cols="12" xs12 md12 id="LogoutBut" style="text-align:center">
          <v-btn
            rounded
            outlined
            x-large
            style="width:800px; font-size:1em;"
            :elevation="7"
            color="orange"
            @click="logout"
          >ออกจากระบบ</v-btn>
        </v-col>

        <v-row justify="center">
          <v-dialog v-model="dialog" max-width="290">
            <v-card>
              <v-card-title class="headline">{{rTitle}}</v-card-title>

              <v-card-text>{{rMsg}}</v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="green darken-1" text>ตกลง</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
      </v-container>
    </v-container>

    <v-container v-else>
      <div class="text-center" style="padding-top: 25px; padding-bottom:50px; ">
        <v-progress-circular indeterminate color="green"></v-progress-circular>
      </div>
    </v-container>
  </v-app>
</template>


  <script>
import firebase from "firebase";

export default {
  data: () => ({
    collapseOnScroll: true,
    drawer: false,
    dialog: false,
    username: "",
    save: "",
    fname: "",
    lname: "",
    email: "",
    rTitle: "ออกจากระบบสำเร็จ",
    rMsg: "กลับสู่หน้าหลัก",
    loggedIn: false,
    notLoggedIn: true,
    myProject: true,
    admincheck: false,
    content: false,
    profile: "",
    editProfile: null,
    key: ""
  }),
  methods: {
    goHomepage() {
      this.$router.push("/");
    },
    logout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.goLogin();
        });
    },
    goshop() {
      this.$router.push("/shop");
    },
    goLogin() {
      this.$router.push("/login");
    },
    goproject() {
      this.$router.push("/sentproject");
    },
    gouserproject() {
      this.$router.push("/userproject");
    },
    goshowproject() {
      this.$router.push("/showproject");
    },
    gocheckshop() {
      this.$router.push("/checkshop");
    },
    onPickFile() {
      this.$refs.fileInput.click();
    },
    onFilePicked(event) {
      const file = event.target.files[0];
      const fileType = file["type"];
      const validImageTypes = ["image/gif", "image/jpeg", "image/png"];
      if (validImageTypes.includes(fileType)) {
        this.editProfile = event.target.files[0];
        this.uploadPhoto();
      }
    },
    uploadPhoto() {
      if(this.editProfile != null){
        const vm = this;
      const file = this.editProfile;
      const storage = firebase.storage();
      const storageRef = storage.ref();
      const uploadTask = storageRef.child("profile/" + file.name).put(file);
      uploadTask.on(
        "state_changed",
        function(snapshot) {
          // Observe state change events such as progress, pause, and resume
          // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
          var progress =
            (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          console.log("Upload is " + progress + "% done");
          switch (snapshot.state) {
            case firebase.storage.TaskState.PAUSED: // or 'paused'
              console.log("Upload is paused");
              break;
            case firebase.storage.TaskState.RUNNING: // or 'running'
              console.log("Upload is running");
              break;
          }
        },
        function(error) {
          // Handle unsuccessful uploads
          console.log(error);
          return;
        },
        function() {
          // Handle successful uploads on complete
          // For instance, get the download URL: https://firebasestorage.googleapis.com/...
          uploadTask.snapshot.ref
            .getDownloadURL()
            .then(function(downloadURL) {
              console.log("File available at", downloadURL);
              const userref = firebase.database().ref("user/" + vm.key);
              userref.update({ profile: downloadURL });
              return downloadURL
            })
            .then((url) => {
              vm.profile = url
            });
        }
      );

      }
      
    }
  },
  mounted: function() {
    const vm = this;
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        console.log("ok");
        firebase
          .database()
          .ref("user")
          .once("value")
          .then(snapshot => {
            console.log("fetch");
            let data = snapshot.val();
            for (let i in data) {
              //console.log(data[i].email)
              if (data[i].email.toLowerCase() == user.email) {
                if (data[i].role == "admin") {
                  vm.myProject = false;
                  vm.admincheck = true;
                }
                if (data[i].role == "shopAdmin") {
                  vm.$router.push("/shopAdmin");
                }
                this.username = data[i].username;
                this.fname = data[i].fname;
                this.lname = data[i].lname;
                this.email = data[i].email;
                this.save = data[i].save;
                this.profile = data[i].profile;
                this.key = i;
                //console.log('fname = ' +this.fname)
                vm.content = true;
                return;
              }
            }
          });
      }
    });
  }
};
</script>