<template>
  <v-app style="background-color:#fafafa ; font-family: 'Prompt', sans-serif;">
    <v-card class="overflow-hidden">
      <v-app-bar
        :collapse="!collapseOnScroll"
        :collapse-on-scroll="collapseOnScroll"
        fixed
        app
        color="#ff6600"
        dark
        dense
      >
        <v-toolbar-title>PassTick</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      </v-app-bar>

      <v-navigation-drawer v-model="drawer" src="../images/bg.png" app>
        <v-list nav dense>
          <v-list-item-group active-class="brown--text text--accent-4">
            <v-list-item>
              <v-list-item-title @click="goHomepage">หน้าหลัก</v-list-item-title>
            </v-list-item>

            <v-list-item @click="goshop">
              <v-list-item-title>ดูร้านค้า</v-list-item-title>
            </v-list-item>

            <v-list-item v-if="notLoggedIn" @click="goLogin">
              <v-list-item-title>ล็อกอิน</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>

      <v-container class="mt-10">
        <v-row>
          <v-col cols="12" xs12 md12>
            <h1 id="register" style="color:#432711; text-align:center; font-size:40px;">สมัครสมาชิก</h1>
            <v-img src="@/images/logo.png" width="500" class="mx-auto"></v-img>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" xs12 md12>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                label="ชื่อผู้ใช้"
                placeholder="ชื่อผู้ใช้"
                outlined
                color="orange"
                dense
                :rules="[rules.required]"
                v-model="username"
              ></v-text-field>

              <v-text-field
                :append-icon="showpassword ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="[rules.required, rules.min]"
                :type="showpassword ? 'text' : 'password'"
                class="input-group--focused"
                label="รหัสผ่าน"
                placeholder="รหัสผ่าน"
                outlined
                dense
                color="orange"
                v-model="password"
                @click:append="showpassword = !showpassword"
              ></v-text-field>

              <v-text-field
                label="ชื่อจริง"
                placeholder="ชื่อจริง"
                outlined
                color="orange"
                dense
                :rules="[rules.required]"
                required
                v-model="firstname"
              ></v-text-field>
              <v-text-field
                label="นามสกุล"
                placeholder="นามสกุล"
                outlined
                color="orange"
                dense
                :rules="[rules.required]"
                v-model="lastname"
              ></v-text-field>
              <v-text-field
                label="อีเมล"
                placeholder="อีเมล"
                outlined
                color="orange"
                dense
                :rules="[rules.required, rules.email]"
                v-model="email"
              ></v-text-field>
            </v-form>
            <v-col cols="12" xs12 md12 id="addpictureBut" style="text-align:center">
              <v-btn
                rounded
                x-large
                style="width:400px; font-size:1em;"
                :elevation="7"
                color="orange"
                dark
                @click="onPickFile"
              >อัพโหลดรูปภาพโปรไฟล์</v-btn>
              <input
                type="file"
                style="display:none"
                ref="fileInput"
                accept="image/*"
                @change="onFilePicked"
              />
            </v-col>
          </v-col>
          <v-col cols="12" xs12 md12 id="LoginBut" style="text-align:center">
            <v-btn
              rounded
              x-large
              style="width:800px; font-size:1em;"
              :elevation="7"
              color="#00cccc"
              dark
              @click="uploadProfile"
            >สมัครสมาชิก</v-btn>
          </v-col>
        </v-row>

        <v-row justify="center">
          <v-dialog v-model="dialog" max-width="290" persistent>
            <v-card>
              <v-card-title class="headline">{{rTitle}}</v-card-title>

              <v-card-text>{{rMsg}}</v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="green darken-1" text @click="goHome">ตกลง</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>

        <v-row justify="center">
          <v-dialog justify="center" v-model="loading" max-width="400" persistent>
            <v-card>
              <v-card-title class="headline">{{rTitle}}</v-card-title>
              <div class="text-center" style="padding-top: 25px; padding-bottom:50px; ">
                <v-progress-circular indeterminate color="green"></v-progress-circular>
              </div>
            </v-card>
          </v-dialog>
        </v-row>
      </v-container>
    </v-card>
  </v-app>
</template>

<style>
#register {
  color: white;
}
#registerBut {
  text-align: center;
}
</style>


<script>
import firebase from "firebase";

export default {
  name: "register",
  components: {
    //HelloWorld,
  },
  data: () => ({
    rules: {
      required: value => !!value || "จำเป็นต้องกรอก",
      min: v => v.length >= 8 || "รหัสผ่านอย่างน้อย 8 ตัว",
      email: value => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(value) || "อีเมลไม่ถูกต้อง";
      }
    },
    showpassword: false,
    dialog: false,
    collapseOnScroll: true,
    drawer: false,
    valid: true,
    notLoggedIn: true,
    name: "",
    nameRules: [
      v => !!v || "Name is required",
      v => (v && v.length <= 10) || "Name must be less than 10 characters"
    ],
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ],
    firstname: "",
    lastname: "",
    username: "",
    password: "",
    valids: false,
    select: null,
    rTitle: "สำเร็จ",
    rMsg: "คลิกเพื่อเข้าสู่หน้าหลัก",
    items: ["Item 1", "Item 2", "Item 3", "Item 4"],
    profile: null,
    checkbox: false,
    loading: false
    //
  }),
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    goshop() {
      this.$router.push("/shop");
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    register(profileUrl) {
      const vm = this
      this.rTitle = "กำลังสมัครสมาชิก";
      this.loading = true;
      if (
        this.username.length == 0 ||
        this.password.length == 0 ||
        this.firstname.length == 0 ||
        this.email.length == 0 ||
        this.lastname == 0
      ) {
        this.rTitle = "ลงทำเบียนไม่สำเร็จ";
        this.rMsg = "โปรดตรวจสอบความถูกต้อง";
        this.loading = false;
        this.dialog = true;
        this.valids = false;
        return;
      } else {
        firebase.database().ref('user').once('value')
        .then(snapshot => {
          const data =snapshot.val()
          for(let i in data){
            if(data[i].username == vm.username){
              vm.rTitle = "ลงทำเบียนไม่สำเร็จ";
              vm.rMsg = "บัญชีนี้ถูกใช้ไปแล้ว";
              vm.loading = false;
              vm.dialog = true;
              vm.valids = false;
              return
            }
          }

              const auth = firebase.auth();
              auth.createUserWithEmailAndPassword(this.email, this.password)
              .then(() => {
                let rref = firebase.database().ref("user");
                rref.push().set({
                username: vm.username,
                email: vm.email,
                fname: vm.firstname,
                lname: vm.lastname,
                password: vm.password,
                save: 0,
                role: "customer",
                profile: profileUrl
              });
          })
          .catch(function(error) {
            console.log("Synchronization failed: " + error);
            if (error == "Error: The email address is badly formatted.") {
              vm.rTitle = "ลงทำเบียนไม่สำเร็จ";
              vm.rMsg = "โปรดตรวจสอบความถูกต้องของอีเมลของคุณ";
              vm.loading = false;
              vm.dialog = true;
              vm.valids = false;
            } else if (
              error ==
              "Error: The email address is already in use by another account."
            ) {
              vm.rTitle = "ลงทำเบียนไม่สำเร็จ";
              vm.rMsg = "อีเมลนี้ถูกใช้ไปแล้ว";
              vm.loading = false;
              vm.dialog = true;
              vm.valids = false;
            } else {
              vm.rTitle = "ลงทำเบียนไม่สำเร็จ";
              vm.rMsg = "โปรดตรวจสอบความถูกต้อง";
              vm.loading = false;
              vm.dialog = true;
              vm.valids = false;
            }
          })
          .then(function() {
            console.log("complete");
            vm.rTitle = "สำเร็จ";
            vm.rMsg = "คลิกเพื่อเข้าสู่หน้าหลัก";
            vm.loading = false;
            vm.valids = true;
            vm.dialog = true;
            //vm.$router.push("/")
          })

            })
          }
        },
    goHome() {
      console.log(this.valids);
      if (this.valids) {
        this.$router.push("/");
      } else {
        this.dialog = false;
      }
    },

    goProfile() {
      this.$router.push("/profile");
    },
    goLogin() {
      this.$router.push("/login");
    },

    goHomepage() {
      this.$router.push("/");
    },
    onPickFile() {
      this.$refs.fileInput.click();
    },
    onFilePicked(event) {
      const file = event.target.files[0];
      const fileType = file["type"];
      const validImageTypes = ["image/gif", "image/jpeg", "image/png"];
      if (validImageTypes.includes(fileType)) {
        this.profile = event.target.files[0];
      }
    },
    uploadProfile() {
      this.rTitle = "กำลังลงทะเบียน";
      this.loading = true;
      const vm = this
      if (this.profile != null) {
        const file = this.profile;
        const storage = firebase.storage();
        const storageRef = storage.ref();
        const uploadTask = storageRef.child("profile/" + file.name).put(file);
        uploadTask.on(
          "state_changed",
          function(snapshot) {
            // Observe state change events such as progress, pause, and resume
            // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
            var progress =
              (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            console.log("Upload is " + progress + "% done");
            switch (snapshot.state) {
              case firebase.storage.TaskState.PAUSED: // or 'paused'
                console.log("Upload is paused");
                break;
              case firebase.storage.TaskState.RUNNING: // or 'running'
                console.log("Upload is running");
                break;
            }
          },
          function(error) {
            // Handle unsuccessful uploads
            console.log(error);
            return;
          },
          function() {
            // Handle successful uploads on complete
            // For instance, get the download URL: https://firebasestorage.googleapis.com/...
            uploadTask.snapshot.ref
              .getDownloadURL()
              .then(function(downloadURL) {
                console.log("File available at", downloadURL);
                vm.register(downloadURL)
              });
          }
        );
      }
      else{
        this.register("https://firebasestorage.googleapis.com/v0/b/passtick2.appspot.com/o/profile%2Fprofile.png?alt=media&token=fc4c6e8d-829f-4e70-b49f-590e7246fcdf")
      }
    }
  }
};
</script>
