<template>
  <v-app style="background-color:#fafafa ; font-family: 'Prompt', sans-serif;">
    <v-card class="overflow-hidden">
      <v-app-bar
        :collapse="!collapseOnScroll"
        :collapse-on-scroll="collapseOnScroll"
        fixed
        app
        color="#ff6600"
        dark
        dense
      >
        <v-toolbar-title>PassTick</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      </v-app-bar>

      <v-navigation-drawer v-model="drawer" src="../images/bg.png" app>
        <v-list nav dense>
          <v-list-item-group active-class="brown--text text--accent-4">
            <v-list-item>
              <v-list-item-title @click="goHomepage">หน้าหลัก</v-list-item-title>
            </v-list-item>

            <v-list-item @click="goshop">
              <v-list-item-title>ดูร้านค้า</v-list-item-title>
            </v-list-item>

            <v-list-item @click="goLogin">
              <v-list-item-title>ล็อกอิน</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </v-card>

    <v-container class="mt-10">
      <v-row>
        <v-col cols="12" xs12 md12>
          <h1 id="register" style="color:#432711; text-align:center; font-size:40px;">สมัครสมาชิก</h1>
          <v-img src="@/images/logo.png" width="500" class="mx-auto"></v-img>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" xs12 md12>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              :rules="[rules.required]"
              label="ชื่อผู้ใช้"
              placeholder="ชื่อผู้ใช้"
              outlined
              color="orange"
              dense
              required
              v-model="username"
            ></v-text-field>

            <v-text-field
              :append-icon="showpassword ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.required, rules.min]"
              :type="showpassword ? 'text' : 'password'"
              class="input-group--focused"
              label="รหัสผ่าน"
              placeholder="รหัสผ่าน"
              outlined
              color="orange"
              dense
              v-model="password"
              @click:append="showpassword = !showpassword"
            ></v-text-field>

            <v-text-field
              label="ชื่อจริง"
              placeholder="ชื่อจริง"
              outlined
              color="orange"
              dense
              :rules="[rules.required]"
              required
              v-model="firstname"
            ></v-text-field>

            <v-text-field
              :rules="[rules.required]"
              label="นามสกุล"
              placeholder="นามสกุล"
              outlined
              color="orange"
              dense
              required
              v-model="lastname"
            ></v-text-field>
            <v-text-field
              label="อีเมล"
              placeholder="อีเมล"
              outlined
              color="orange"
              dense
              :rules="[rules.required, rules.email]"
              v-model="email"
            ></v-text-field>
            <h2
              id="Login"
              style="color:#432711;font-family: 'Prompt', sans-serif;padding:10px;"
            >ข้อมูลร้านค้า:</h2>

            <v-text-field
              label="ชื่อร้าน"
              placeholder="ชื่อร้าน"
              outlined
              color="orange"
              dense
              :rules="[rules.required]"
              v-model="shopname"
            ></v-text-field>
            <v-text-field
              label="เบอร์โทรศัพท์"
              placeholder="เบอร์โทรศัพท์"
              outlined
              color="orange"
              dense
              :rules="[rules.required]"
              v-model="shopphone"
            ></v-text-field>
            <v-text-field
              label="ลิงก์Facebook/Instagram(ไม่จำเป็นต้องกรอก)"
              placeholder="ลิงก์Facebook/Instagram(ไม่จำเป็นต้องกรอก)"
              outlined
              color="orange"
              dense
              v-model="shoplink"
            ></v-text-field>
            <v-text-field
              label="บริจาคต้นทุนพลาสติก(บาท/ชิ้น)"
              placeholder="บริจาคต้นทุนพลาสติก(บาท/ชิ้น)"
              outlined
              color="orange"
              dense
              :rules="[rules.required]"
              v-model="donate"
            ></v-text-field>
          </v-form>
          <v-col cols="12" xs12 md12 style="text-align:center">
            <v-btn
              rounded
              x-large
              style="width:800px; font-size:1em;"
              :elevation="7"
              color="orange"
              dark
              @click="mymaps = true"
            >ปักหมุดร้านจากแผนที่</v-btn>
          </v-col>
        </v-col>

        <v-col cols="12" xs12 md12 id="addpictureBut" style="text-align:center; ">
          <v-btn
            rounded
            x-large
            style="width:800px; font-size:1em;"
            :elevation="7"
            outlined
            color="orange"
            dark
            @click="onPickFile"
          >อัพโหลดรูปภาพโลโก้ประจำร้าน</v-btn>
          <input type="file" style="display:none" ref="fileInput" @change="onFilePicked" />
        </v-col>

        <v-col cols="12" xs12 md12 id="registerBut">
          <v-btn
            rounded
            x-large
            style="width:800px; font-size:1em;"
            :elevation="7"
            color="#00cccc"
            dark
            @click="uploadPic"
          >สมัครสมาชิก</v-btn>
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-dialog v-model="mymaps" max-width="1000">
          <v-card>
            <div style="margin:auto; text-align: center;">
              <h2>ค้นหาตำแหน่งของร้านและปักหมุด</h2>
              <label>
                <gmap-autocomplete @place_changed="setPlace"></gmap-autocomplete>
                <v-btn @click="addMarker" color="orange">ค้นหา</v-btn>
              </label>
              <br />
              <p>ลากหมุดสีแดงเพื่อเลื่อนตำแหน่ง จากนั้นกดตกลงที่ด้านล่าง</p>
            </div>

            <GmapMap
              :center="{lat:currentLocation.lat, lng:currentLocation.lng}"
              :zoom="18"
              style="max-width: 1100px; height: 400px"
            >
              <GmapMarker
                :draggable="true"
                :position="{lat:currentLocation.lat, lng:currentLocation.lng}"
                @click="center=position"
                @dragend="showLocation"
              />
            </GmapMap>

            <v-col cols="12" xs12 md12 id="registerBut">
              <v-btn
                rounded
                x-large
                style="width:500px; font-size:1em;"
                :elevation="7"
                color="#00cccc"
                dark
                @click="mymaps=false"
              >ตกลง</v-btn>
            </v-col>
          </v-card>
        </v-dialog>
      </v-row>

      <v-row justify="center">
        <v-dialog v-model="dialog" max-width="290">
          <v-card>
            <v-card-title class="headline">{{rTitle}}</v-card-title>

            <v-card-text>{{rMsg}}</v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn color="green darken-1" text @click="goHome">ตกลง</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>

      <v-row justify="center">
        <v-dialog v-model="onload" max-width="290">
          <v-card>
            <v-card-title class="headline">{{rTitle}}</v-card-title>
            <v-container v-if="loading">
              <div class="text-center" style="padding-top: 25px; padding-bottom:50px;">
                <v-progress-circular indeterminate color="green"></v-progress-circular>
              </div>
            </v-container>
            <v-container v-else>
              <v-card-text>{{rMsg}}</v-card-text>
              <v-card-text></v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="goHome">ตกลง</v-btn>
              </v-card-actions>
            </v-container>
          </v-card>
        </v-dialog>
      </v-row>
    </v-container>
  </v-app>
</template>


<script>
import firebase from "firebase";
export default {
  name: "register",
  components: {},
  data: () => ({
    rules: {
      required: value => !!value || "จำเป็นต้องกรอก",
      min: v => v.length >= 8 || "รหัสผ่านอย่างน้อย 8 ตัว",
      email: value => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(value) || "อีเมลไม่ถูกต้อง";
      }
    },
    showpassword: false,
    shopLocation: { lat: 0, lng: 0 },
    mymaps: false,
    currentLocation: { lat: 0, lng: 0 },
    places: [],
    shopphone: "",
    donate: 2,
    shoplink: "",
    shopname: "",
    currentPlace: null,
    dialog: false,
    collapseOnScroll: true,
    drawer: false,
    valid: true,
    name: "",
    nameRules: [
      v => !!v || "Name is required",
      v => (v && v.length <= 10) || "Name must be less than 10 characters"
    ],
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ],
    firstname: "",
    lastname: "",
    username: "",
    password: "",
    valids: true,
    select: null,
    rTitle: "สำเร็จ",
    rMsg: "คลิกเพื่อเข้าสู่หน้าหลัก",
    items: ["Item 1", "Item 2", "Item 3", "Item 4"],
    checkbox: false,
    selectedFile: null,
    profileUrl: "",
    loading: false,
    onload: false,
    profile: null
    //
  }),
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    goshop() {
      this.$router.push("/shop");
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },

    goHome() {
      console.log(this.valids);
      if (this.valids) {
        this.$router.push("/");
      } else {
        this.dialog = false;
      }
    },

    goProfile() {
      this.$router.push("/profile");
    },
    goLogin() {
      this.$router.push("/login");
    },

    goHomepage() {
      this.$router.push("/");
    },
    geolocation: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.currentLocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
    },
    setPlace(place) {
      this.currentPlace = place;
    },
    addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        };
        this.places.push(this.currentPlace);
        this.currentLocation = marker;
        this.currentPlace = null;
        this.shopLocation.lat = this.currentLocation.lat;
        this.shopLocation.lng = this.currentLocation.lng;
        console.log(this.shopLocation);
      }
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.currentLocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        this.shopLocation.lat = this.currentLocation.lat;
        this.shopLocation.lng = this.currentLocation.lng;
        console.log(this.shopLocation);
      });
    },
    showLocation: function(evt) {
      this.shopLocation.lat = evt.latLng.lat().toString();
      this.shopLocation.lng = evt.latLng.lng().toString();
      console.log(this.shopLocation);
    },
    onPickFile() {
      this.$refs.fileInput.click();
    },
    onFilePicked(event) {
      const file = event.target.files[0];
      const fileType = file["type"];
      const validImageTypes = [
        "image/gif",
        "image/jpeg",
        "image/png",
        "image/jpg"
      ];
      if (validImageTypes.includes(fileType)) {
        this.selectedFile = file;
      }
    },
    uploadPic() {
      this.loading = true;
      this.rTitle = "กรุณารอสักครู่";
      this.onload = true;
      const vm = this;
      if (vm.selectedFile != null) {
        // File or Blob named mountains.jpg
        const file = this.selectedFile;
        // Get a reference to the storage service, which is used to create references in your storage bucket
        const storage = firebase.storage();
        // Create a storage reference from our storage service
        const storageRef = storage.ref();
        // Upload file and metadata to the object 'images/mountains.jpg'
        var uploadTask = storageRef.child("images/" + file.name).put(file);

        // Listen for state changes, errors, and completion of the upload.
        uploadTask.on(
          firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
          function(snapshot) {
            // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
            var progress =
              (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            console.log("Upload is " + progress + "% done");
            switch (snapshot.state) {
              case firebase.storage.TaskState.PAUSED: // or 'paused'
                console.log("Upload is paused");
                break;
              case firebase.storage.TaskState.RUNNING: // or 'running'
                console.log("Upload is running");
                break;
            }
          },
          function(error) {
            // A full list of error codes is available at
            // https://firebase.google.com/docs/storage/web/handle-errors
            switch (error.code) {
              case "storage/unauthorized":
                // User doesn't have permission to access the object
                vm.loadingResponse(false);
                console.log("checkload1 ");
                break;

              case "storage/canceled":
                // User canceled the upload
                vm.loadingResponse(false);
                console.log("checkload2");
                break;

              case "storage/unknown":
                // Unknown error occurred, inspect error.serverResponse
                console.log("checkload3");
                vm.loadingResponse(false);
                break;
            }
          },
          function() {
            // Upload completed successfully, now we can get the download URL
            uploadTask.snapshot.ref
              .getDownloadURL()
              .then(function(downloadURL) {
                console.log("File available at", downloadURL);
                vm.register(downloadURL);
              });
          }
        );
      } else {
        vm.register(
          "https://firebasestorage.googleapis.com/v0/b/passtick2.appspot.com/o/profile%2Fprofile.png?alt=media&token=fc4c6e8d-829f-4e70-b49f-590e7246fcdf"
        );
      }
    },
    register(profile) {
      const vm = this;
      const shopLogo = profile;
      firebase
        .auth()
        .createUserWithEmailAndPassword(vm.email, vm.password)
        .then(() => {
          firebase
            .database()
            .ref("user")
            .push()
            .set({
              username: vm.username,
              email: vm.email,
              fname: vm.firstname,
              lname: vm.lastname,
              password: vm.password,
              save: 0,
              shop: vm.shopname,
              role: "shopAdmin"
            })
            .then(() => {
              console.log("do");
              let shopRef = "shop/" + vm.shopname;
              if (vm.shoplink == "") {
                firebase
                  .database()
                  .ref(shopRef)
                  .set({
                    cost: 0,
                    pieces: 0,
                    outstanding: 0,
                    logo: shopLogo,
                    lat: vm.shopLocation.lat,
                    lng: vm.shopLocation.lng,
                    tel: vm.shopphone,
                    donate: vm.donate
                  })
                  .then(() => {
                    console.log("complete");
                    vm.loadingResponse(true);
                  })
                  .catch(err => {
                    console.log(err);
                    console.log("error");
                    vm.loadingResponse(false);
                  });
              } else {
                firebase
                  .database()
                  .ref(shopRef)
                  .set({
                    cost: 0,
                    pieces: 0,
                    outstanding: 0,
                    logo: shopLogo,
                    lat: vm.shopLocation.lat,
                    lng: vm.shopLocation.lng,
                    tel: vm.shopphone,
                    shoplink: vm.shoplink,
                    donate: vm.donate
                  })
                  .then(() => {
                    console.log("complete")
                    vm.loadingResponse(true)
                  })
                  .catch(err => {
                    console.log(err)
                    console.log("error")
                    vm.loadingResponse(false)
                  });
              }
            });
        });
    },
    loadingResponse(res) {
      if (res) {
        this.rTitle = "สำเร็จ"
        this.rMsg = "สร้างบัญชีของร้านเรียบร้อยแล้ว"
        this.loading = false
      } else {
        this.rTitle = "ล้มเหลว"
        this.rMsg = "ไม่สามารถสร้างบัญชีของร้านได้"
        this.loading = false
      }
    }
  },

  mounted: function() {
    this.geolocate();
  }
};
</script>
