<template>
  <div class="text-center">
    <v-btn class="ma-2" tile color="indigo" dark>Tile Button</v-btn>
     <div class="ma-2">
            <v-btn color="error" dark large>Large Button</v-btn>
          </div>
   
 
  </div>
</template>