<template>
  <v-app style="background-color:#fafafa;font-family: 'Prompt', sans-serif;">
    <v-card class="overflow-hidden">
      <v-app-bar
        :collapse="!collapseOnScroll"
        :collapse-on-scroll="collapseOnScroll"
        fixed
        app
        color="#ff6600"
        dark
        dense
      >
        <v-toolbar-title>PassTick</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      </v-app-bar>

      <v-navigation-drawer v-model="drawer" src="../images/bg.png" app>
        <v-list nav dense>
          <v-list-item-group active-class="brown--text text--accent-4">
            <v-list-item>
              <v-list-item-title @click="goHomepage">หน้าหลัก</v-list-item-title>
            </v-list-item>

            <v-list-item @click="goshop">
              <v-list-item-title>ดูร้านค้า</v-list-item-title>
            </v-list-item>

            <v-list-item @click="goProfile">
              <v-list-item-title>โปรไฟล์</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </v-card>

    <v-container class="mt-10">
      <v-row>
        <v-col cols="12" xs12 md12>
          <h1
            id="username"
            style="color:#432711; text-align:center; padding-top:10px;"
          >ส่งข้อเสนอโครงการ</h1>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" xs12 md12 class="text-center">
          <v-avatar outlined color="#00cccc" size="170px">
            <v-img src="../images/project.png"></v-img>
          </v-avatar>
        </v-col>
        <v-col cols="12" xs12 md12>
          <v-card outlined elevation="10" style="padding:20px; border-color:orange;">
            <v-form ref="form" lazy-validation style="padding-top: 30px;">
              <v-text-field
                label="ชื่อโครงการ"
                placeholder="ชื่อโครงการ"
                outlined
                color="orange"
                dense
                :rules="[rules.required]"
                v-model="projectname"
              ></v-text-field>

              <v-text-field
                label="คำอธิบายโครงการโดยย่อ"
                placeholder="คำอธิบายโครงการโดยย่อ"
                outlined
                color="orange"
                dense
                :rules="[rules.required]"
                v-model="aboutproject"
              ></v-text-field>

              <v-text-field
                label="ทุนสนับสนุนที่ต้องการ(บาท)"
                placeholder="ทุนสนับสนุนที่ต้องการ(บาท)"
                outlined
                color="orange"
                dense
                :rules="[rules.required]"
                v-model="budget"
              ></v-text-field>
              <v-col cols="12" xs12 md12 id="projectfile" style="text-align:center">
                <v-btn
                  rounded
                  x-large
                  style="width:800px; font-size:1em;"
                  :elevation="7"
                  color="orange"
                  @click="onPickFile"
                >อัพโหลดไฟล์ข้อเสนอโครงการ</v-btn>
                <input type="file" style="display:none" ref="fileInput" @change="onFilePicked" />
              </v-col>
            </v-form>
          </v-card>
        </v-col>
      </v-row>

      <v-col cols="12" xs12 md12 id="sentproject" style="text-align:center; padding:30px;">
        <v-btn
          rounded
          x-large
          style="width:800px; font-size:1em;"
          :elevation="7"
          color="#00cccc"
          @click="upload"
        >
          <span style="color:white;">ส่งข้อเสนอโครงการ</span>
        </v-btn>
      </v-col>

      <v-row justify="center" >
        <v-dialog v-model="dialog" persistent max-width="400">
          <v-card>
            <v-card-title class="headline">{{rTitle}}</v-card-title>

            <v-card-text>{{rMsg}}</v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn color="green darken-1" text @click="goproject">ตกลง</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-row justify="center">
          <v-dialog  justify="center" v-model="loading" max-width="400" persistent>
            <v-card>
              <v-card-title class="headline">{{rTitle}}</v-card-title>
              <div class="text-center" style="padding-top: 25px; padding-bottom:50px; ">
              <v-progress-circular indeterminate color="green"></v-progress-circular>
              </div>
            </v-card>
          </v-dialog>
        </v-row>   
      </v-row>
    </v-container>
  </v-app>
</template>


  <script>
import firebase from "firebase";
import moment from 'moment'
export default {
  data: () => ({
    rules: {
          required: value => !!value || 'จำเป็นต้องกรอก',          
        },
    collapseOnScroll: true,
    drawer: false,
    dialog: false,
    projectname: "",
    aboutproject: "",
    budget: "",
    rTitle: "ส่งข้อเสนอโครงการสำเร็จ",
    rMsg: "ดูโครงการที่เสนอ",
    projectURL: "",
    username:'',
    loading:false
  }),
  methods:{
    goHomepage() {
      this.$router.push("/");
    },

    goshop() {
      this.$router.push("/shop");
    },
    goProfile() {
      this.$router.push("/profile");
    },
    goproject() {
      this.$router.push("/showproject");
    },
    onPickFile() {
      this.$refs.fileInput.click();
    },
    onFilePicked(event) {
      this.selectedFile = event.target.files[0];
      console.log(this.selectedFile.name);
    },

    upload() {
      // File or Blob named mountains.jpg
      const vm = this;
      vm.rTitle = 'กำลังอัพโหลด'
      vm.loading = true
      let file = this.selectedFile;
      //const auth = firebase.auth();

      // Create the file metadata

      // Get a reference to the storage service, which is used to create references in your storage bucket
      const storage = firebase.storage();
      // Create a storage reference from our storage service
      const storageRef = storage.ref();

      // Upload file and metadata to the object 'images/mountains.jpg'
      const uploadTask = storageRef.child("Projects/" + file.name).put(file);

      // Listen for state changes, errors, and completion of the upload.
      uploadTask.on(
        firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
        function(snapshot) {
          // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
          let progress =
            (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          console.log("Upload is " + progress + "% done");
          switch (snapshot.state) {
            case firebase.storage.TaskState.PAUSED: // or 'paused'
              console.log("Upload is paused");
              break;
            case firebase.storage.TaskState.RUNNING: // or 'running'
              console.log("Upload is running");
              break;
          }
        },
        function(error) {
          // A full list of error codes is available at
          // https://firebase.google.com/docs/storage/web/handle-errors
          switch (error.code) {
            case "storage/unauthorized":
              // User doesn't have permission to access the object
              console.log("error" + error.code);

              break;

            case "storage/canceled":
              // User canceled the upload
              break;

            case "storage/unknown":
              // Unknown error occurred, inspect error.serverResponse
              break;
          }
        },
        function() {
          // Upload completed successfully, now we can get the download URL
          uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
            console.log("File available at", downloadURL);
            // upload Reference to database
            vm.projectURL = downloadURL;
            console.log('username: ' +vm.username)
            const ref = "Projects/" + vm.username;
            console.log('ref: ' + ref)
            const projectRef = firebase.database().ref(ref);
            moment.locale('th')
            projectRef
              .push()
              .set({
                projectName: vm.projectname,
                describe: vm.aboutproject,
                budget: vm.budget,
                fileURL: vm.projectURL,
                status:'รอพิจารณา',
                sendTime: moment().format('LLL'),
                yes:0,
                no:0,
                time:Date.now()
              })
              .then(function() {
                console.log("complete");
                vm.loading = false
                vm.rTitle = 'ส่งข้อเสนอโครงการสำเร็จ'
                vm.dialog = true
              })
              .catch(function(err) {
                console.log("error: " + err);
              });
          });
        }
      );
    }
  },
  mounted:function(){
    console.log('hello')
    const vm = this
    firebase.auth().onAuthStateChanged(function(user) {
       if(user){
         console.log('user is logged in')
         firebase.database().ref('user').once('value')
         .then(snapshot => {
           const data = snapshot.val()
           for(let i in data){
             if(data[i].email == user.email){
               vm.username = data[i].username
            return
          }
        }
      })
    }
    })
}
}
</script>