<template>
  <v-app style="background-color:#fafafa;font-family: 'Prompt', sans-serif;">
    <v-container>
    <v-card class="overflow-hidden">
      <v-app-bar
        :collapse="!collapseOnScroll"
        :collapse-on-scroll="collapseOnScroll"
        fixed
        app
        color="#ff6600"
        dark
        dense
      >
        <v-toolbar-title>PassTick</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      </v-app-bar>

      <v-navigation-drawer v-model="drawer" src="../images/bg.png" app>
        <v-list nav dense>
          <v-list-item-group active-class="brown--text text--accent-4">
            <v-list-item>
              <v-list-item-title @click="goHomepage">หน้าหลัก</v-list-item-title>
            </v-list-item>

            <v-list-item @click="goshop">
              <v-list-item-title>ดูร้านค้า</v-list-item-title>
            </v-list-item>

            <v-list-item @click="goproject">
              <v-list-item-title>ดูข้อเสนอโครงการ</v-list-item-title>
            </v-list-item>

            <v-list-item @click="goprofile">
              <v-list-item-title>โปรไฟล์</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </v-card>
    <v-container>
      <h2 style="color:#432711; text-align:center; font-size:35px; padding-top:50px;">การอัปเดตยอดจากลูกค้า</h2>
       <v-row class="mt-12">
        <v-col cols="12"  v-for="(item,index) in userRequest" :key="index">
          <v-card class="mx-auto" elevation="10" outlined style="border-color:orange;"> 
            <v-container>
              <v-row>
                <v-col cols="4" xs="4" md="4" xl="4" class="mt-auto">
                  <img
                    v-bind:src=item.profile
                    style="vertical-align:middle;max-width:100px;padding-right:10px"
                  />
                  </v-col>
                  <v-col cols="8" xs="8" md="8" xl="8" class="mt-auto">
                  <p style="font-size:20px">{{item.user}}</p>
                  <p style="font-size:15px">ยอดลด : {{item.pieces}} </p>
               
                </v-col>
              </v-row>
            </v-container>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red" style="color:white" rounded mx-width="200" @click="reject(item.requestKey)">ยกเลิก</v-btn>
              <v-btn color="#00cccc" rounded mx-width="200" @click="accept(item.key,item.pieces,item.requestKey,item.user)">ยืนยัน</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>

      <v-row justify="center">
          <v-dialog justify="center" v-model="loading" max-width="400" persistent>
            <v-card>
              <v-card-title class="headline">รอสักครู่</v-card-title>
              <div class="text-center" style="padding-top: 25px; padding-bottom:50px; ">
                <v-progress-circular indeterminate color="green"></v-progress-circular>
              </div>
            </v-card>
          </v-dialog>
        </v-row>

        <v-row justify="center">
          <v-dialog v-model="response" max-width="290" persistent>
            <v-card>
              <v-card-title class="headline">{{rTitle}}</v-card-title>

              <v-card-text>{{rMsg}}</v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="green darken-1" text @click="response = false">ตกลง</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
      
        </v-container>
    </v-container>

  
  </v-app>
</template>

<style>
.application {
  font-family: "Prompt", sans-serif;
}
</style>


<script>
import firebase from 'firebase'
    
export default {
     data: () => ({
    collapseOnScroll: true,
    drawer: false,
    username:'loading',
    outstanding:'loading',
    shopAdmin:false,
    payDate:'',
    loading:false,
    rTitle:'',
    rMsg:'',
    billUrl:'',
    amount:'',
    bank:'',
    success:false,
    exception:false,
    content:false,
    shop:'',
    shopEmail:'',
    role:false,
    userRequest:[],
    isLoaded:false,
    response:false,
    
    
    
    
  }),

    methods: {
    
    accept(key,pieces,rkey,user){
      const vm = this
      const userRef = firebase.database().ref('user/' + key)
      const requestRef = firebase.database().ref('request/'+vm.shop+'/'+rkey)
      if(user != 'ผู้ใช้ทั่วไป'){
      vm.loading = true
      userRef.once('value')
      .then(snapshot => {
        const data = snapshot.val()
        userRef.update({save: parseInt(data.save)+ parseInt(pieces)})
        .then(()=>{
          requestRef.remove()
          .then(()=>{
            vm.updateShop(pieces)
          })
        })
        .catch(err=>{
          console.log(err)
          vm.rTitle = 'การยืนยันล้มเหลว'
          vm.rMsg = 'เกิดปัญหาขึ้นระหว่างการยืนยัน'
          vm.loading = false
          vm.response = true
        })
      })

      }
      else{
        requestRef.remove()
        .then(()=>{
          vm.updateShop(pieces)
        })
        .catch(err=>{
          console.log(err)
          vm.rTitle = 'การยืนยันล้มเหลว'
          vm.rMsg = 'เกิดปัญหาขึ้นระหว่างการยืนยัน'
          vm.loading = false
          vm.response = true
        })
      }
      
    },
    updateShop(pieces){
      const vm = this
      const shopRef = firebase.database().ref('shop/'+vm.shop)
      shopRef.once('value')
      .then(snapshot=>{
        const data = snapshot.val()
        let cost = parseInt(pieces)*(data.donate)
        shopRef.update({
          outstanding:parseInt(data.outstanding)+cost,
          pieces:parseInt(data.pieces)+parseInt(pieces)
          })
        .then(()=>{
          vm.loading = false
          vm.rTitle = 'ยืนยันเรียบร้อยแล้ว'
          vm.rMsg = 'ยืนยันการลดพลาสติกของลูกค้าเรียบร้อยแล้ว'
          vm.loading = false
          vm.response = true
          
        })
      })
      .catch(err=>{
        console.log(err)
        vm.rTitle = 'การยืนยันล้มเหลว'
        vm.rMsg = 'เกิดปัญหาขึ้นระหว่างการยืนยัน'
        vm.loading = false
        vm.response = true
      })

    },

    reject(key){
      const vm = this
      vm.loading = true
      const requestRef = firebase.database().ref('request/'+ vm.shop + '/' + key)
      requestRef.remove()
      .then(()=>{
        vm.rTitle = 'ยกเรียบร้อยแล้ว'
        vm.rMsg = 'ยกเลิกการลดพลาสติกของลูกค้าเรียบร้อยแล้ว'
        vm.loading = false
        vm.response = true
      })
      .catch(err=>{
        console.log(err)
        vm.rTitle = 'การยกเลิกล้มเหลว'
        vm.rMsg = 'เกิดปัญหาขึ้นระหว่างการยกเลิก'
        vm.loading = false
        vm.response = true

      })
    },

    goHomepage() {
      this.$router.push("/");
    },
    goshop() {
      this.$router.push("/shop");
    },
    goproject() {
      this.$router.push("/adminProject");
    },
    goprofile() {
      this.$router.push("/shopadmin");
    },
    loadData(){
        const vm = this
        vm.isLoaded = true
        firebase.database().ref('request/' + vm.shop).once('value')
        .then(snapshot => {
            vm.userRequest.length = 0
            const request = snapshot.val()
            for(let i in request){
                let obj = {
                    user:request[i].user,
                    profile:request[i].profile,
                    pieces:request[i].pieces,
                    key:request[i].key,
                    time:request[i].time,
                    requestKey:i
                }
                vm.userRequest.push(obj)
                //console.log(vm.userRequest)
            }
            vm.userRequest.sort((a,b)=>{
                if(parseInt(a.time)>parseInt(b.time)){
                    //console.log('case1')
                    return -1
                    }
                else if (parseInt(a.time)<parseInt(b.time)){
                    //console.log('case2')
                    return 1
                    }
                else if(parseInt(a.time) == parseInt(b.time)){
                    //console.log('case3')
                    return 0
                     }
                })
        })
    }
},
 mounted:function(){
     const vm = this
     firebase.auth().onAuthStateChanged(user=>{
         if(user){
             vm.shopEmail = user.email
             firebase.database().ref('user').once('value')
             .then(snapshot=>{
                 const data = snapshot.val()
                 for(let i in data){
                     if(data[i].email == vm.shopEmail){
                         if(data[i].role == 'shopAdmin'){
                             vm.shop = data[i].shop
                             console.log(vm.shop)
                             vm.loadData()
                         }
                     }
                 }
             })
             
         }
     })
     firebase.database().ref('request/'+vm.shop).on('value',function(){
         console.log(vm.isLoaded)
         if(vm.isLoaded){
             vm.loadData()
             }
        })
     }
     
     
}
</script>