<template>
  <v-app style="background-color:#fafafa;font-family: 'Prompt', sans-serif;">
    <v-container v-if="content">
      <v-card class="overflow-hidden">
        <v-app-bar
          :collapse="!collapseOnScroll"
          :collapse-on-scroll="collapseOnScroll"
          fixed
          app
          color="#ff6600"
          dark
          dense
        >
          <v-toolbar-title>PassTick</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        </v-app-bar>

        <v-navigation-drawer v-model="drawer" src="../images/bg.png" app>
          <v-list nav dense>
            <v-list-item-group active-class="brown--text text--accent-4">
              <v-list-item>
                <v-list-item-title @click="goHomepage">หน้าหลัก</v-list-item-title>
              </v-list-item>

              <v-list-item @click="goshop">
                <v-list-item-title>ดูร้านค้า</v-list-item-title>
              </v-list-item>

              <v-list-item @click="goproject">
                <v-list-item-title>ดูข้อเสนอโครงการ</v-list-item-title>
              </v-list-item>

              <v-list-item @click="gocheckpoint">
              <v-list-item-title>การอัปเดตยอดจากลูกค้า</v-list-item-title>
            </v-list-item>

            </v-list-item-group>
          </v-list>
        </v-navigation-drawer>
      </v-card>

      <v-container fluid class="mt-10">
        <v-row>
          <v-col cols="12" xs="12" md="6" lg="6" class="mx-auto">
            <v-col cols="12" xs12 md12 class="text-center">
              <v-avatar outlined color="#00cccc" size="170px">
                <v-img v-bind:src="logo"></v-img>
              </v-avatar>
              <v-row justify="center" class="mt-2">
                <v-btn rounded color="orange" outlined @click="onPickFile">แก้ไขรูปประจำร้าน</v-btn>
                <input
                type="file"
                style="display:none"
                ref="fileInput"
                accept="image/*"
                @change="onFilePicked"
              />
              </v-row>
            </v-col>
            <v-col cols="12" xs12 md12>
              <h1 id="username" style="color:#432711; text-align:center;">ร้านอาหาร: {{shopname}}</h1>
            </v-col>
            <v-col cols="12" xs12 md12>
              <v-card outlined elevation="10" style="padding:20px; border-color:orange;">
                <v-row >
                  <h2
                  class="information"
                >ลดขยะพลาสติก : {{save}} ชิ้น</h2>
                </v-row>
                <v-row style="padding-top:20px;">
                  <h2
                  class="information"
                >ยอดเงินสะสม : {{cost}} บาท</h2>
                </v-row>
                <v-row style="padding-top:20px;" >
                  <h2
                  class="information"
                >ยอดที่ต้องชำระ : {{outbalance}} บาท</h2>
                </v-row>
                <v-row style="padding-top:20px;" >
                   <span
                  class="information"
                >ยอดบริจาคต่อชิ้น : {{donationRate}} บาท</span>
                  <v-btn rounded small color="orange" outlined class="ml-2" @click='donationPopup=true'>แก้ไข</v-btn>  
                </v-row>
                <v-row style="padding-top:20px;" >
                  <h2
                  class="information"
                >อีเมล : {{email}}</h2>
                  </v-row>
                <v-row style="padding-top:20px">
                    <h2 class="information">ช่องทางติดต่อ : </h2>
                    <v-btn v-if="haveLink" rounded small color="green" dark class="ml-2" v-bind:href=shopLink target="blank">ลิงก์</v-btn>
                    <v-btn rounded small color="error" dark class="ml-2" @click="edit=true">แก้ไข</v-btn>
                </v-row>                     
              </v-card>
            </v-col>
          </v-col>

          <v-col cols="12" xs="12" md="6" lg="6" class="mx-0 px-0" style="padding-top:60px;">
            <v-col cols="12">
              <div class="headline font-weight-bold" style="text-align:center;">
                <h2
                  style="font-size:40px;color:#432711;padding-top:30px;font-family: 'Prompt', sans-serif;"
                >QR code</h2>
                <img src="../images/qr.png" style="width:300px; padding-top:30px;" />
              </div>
            </v-col>
          </v-col>
        </v-row>
        <v-col cols="12" xs12 md12 id="paybill" style="text-align:center">
          <v-btn
            rounded
            x-large
            style="width:800px; font-size:1em;"
            :elevation="7"
            color="orange"
            @click="gopaybill"
          >ชำระยอดค้างเข้ากองทุน</v-btn>
        </v-col>
        <v-col cols="12" xs12 md12 id="checkpoint" style="text-align:center">
          <v-btn
            rounded
            outlined
            x-large
            style="width:800px; font-size:1em;"
            :elevation="7"
            color="orange"
            @click="gocheckpoint"
          >การอัปเดตยอดจากลูกค้า</v-btn>
        </v-col>
        <v-col cols="12" xs12 md12 id="LogoutBut" style="text-align:center">
          <v-btn
            rounded
            x-large
            style="width:800px; font-size:1em;"
            :elevation="7"
            color="#00cccc"
            @click="logout"
          >ออกจากระบบ</v-btn>
        </v-col>

        <v-row justify="center">
          <v-dialog v-model="dialog" max-width="290">
            <v-card>
              <v-card-title class="headline">{{rTitle}}</v-card-title>

              <v-card-text>{{rMsg}}</v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="green darken-1" text>ตกลง</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>

        <v-row justify="center">
          <v-dialog v-model='donationPopup' max-width="400" persistent>
            <v-card>
              <v-container v-if="loading">
                <div class="text-center" style="padding-top: 25px; padding-bottom:50px; ">
                  <v-progress-circular indeterminate color="green"></v-progress-circular>
                </div>
              </v-container>
              
              <v-container v-else>
                <v-card-title class="donationFont">แก้ไขยอดบริจาคเงินต่อพลาสติก 1 ชิ้น</v-card-title>
                <v-container class="donateContainer">
                  <label for = 'donate' class="mr-5 donationFont">จาก {{donationRate}} บาท เป็น :</label>
                  <v-text-field 
                    id= "donate"
                    label="จำนวนเงิน (บาท)"
                    v-model="editDonate"
                    class="donateBox"></v-text-field>
                </v-container>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red darken-1" text @click="donationPopup = false">ยกเลิก</v-btn>
                  <v-btn color="green darken-1" text @click="updateDonation">ยืนยัน</v-btn>
                </v-card-actions>
              </v-container>
            </v-card>
          </v-dialog>
        </v-row>

        <v-row justify="center">
          <v-dialog v-model="edit" max-width="500" persistent>
            <v-card>
                <v-container v-if="loading">
                  <div class="text-center" style="padding-top: 25px; padding-bottom:50px; ">
                    <v-progress-circular indeterminate color="green"></v-progress-circular>
                  </div>
                </v-container>
                <v-container v-else class="text-center">
                  <h2 class='application'>แก้ไขช่องทางติดต่อ</h2>
                  <v-row class="mt-3">
                    <v-col cols="12" md="3">
                      <v-card-text class="application">ลิงก์ติดต่อ:</v-card-text>
                    </v-col>
                    <v-col cols="12" md="9">
                      <v-text-field
                        label="ลิงก์ติดต่อของทางร้าน"
                        v-bind:value=shopLink
                        v-model="editLink"
                        hint='ลิงก์ติดต่อของทางร้านเช่น Facebook หรือ Instragram'
                        outlined/>
                    </v-col>
                  </v-row>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      rounded
                      small
                      color="error"
                      dark
                      @click="edit=false"
                    >ยกเลิก</v-btn>
                    <v-btn
                      rounded
                      small
                      color="green"
                      dark
                      @click="updateLink"
                    >ยืนยัน</v-btn>
                  </v-card-actions>
                </v-container>
            </v-card>
          </v-dialog>
        </v-row>

      </v-container>
    </v-container>
    <v-container v-else>
      <div class="text-center" style="padding-top: 25px; padding-bottom:50px; ">
        <v-progress-circular indeterminate color="green"></v-progress-circular>
      </div>
    </v-container>
  </v-app>
</template>
  
<style>
.application {
  font-family: "Prompt", sans-serif;
}
.information{
  color:#432711;
  padding-left:20px;  
  font-size:17px; 
  font-weight:bold;
}
.donateBox{
  display: inline-block
}
.donateContainer{
  text-align: center
}
.donationFont{
  font-family: "Prompt", sans-serif;
}
</style>

  
  <script>
import firebase from "firebase";

export default {
  data: () => ({
    content: false,
    collapseOnScroll: true,
    drawer: false,
    dialog: false,
    shopname: "",
    save: "",
    outbalance: "",
    email: "",
    rTitle: "ออกจากระบบสำเร็จ",
    rMsg: "กลับสู่หน้าหลัก",
    loggedIn: false,
    notLoggedIn: true,
    labels: ["one", "two"],
    editLogo: null,
    logo: "",
    cost: "",
    editDonate:'',
    donationPopup:false,
    donationRate:0,
    loading:false,
    shopLink:'',
    haveLink:false,
    edit:false,
    editLink:''
  }),
  methods: {
    logout() {
      firebase.auth().signOut();
    },
    goLogin() {
      this.$router.push("/login");
    },
    goshop() {
      this.$router.push("/shop");
    },
    goHomepage() {
      this.$router.push("/");
    },
    goproject() {
      this.$router.push("/adminProject");
    },
     gocheckpoint(){
      this.$router.push("/shopaccept");
    },
    gopaybill() {
      this.$router.push("/paybill");
    },
    async updateLink() {
      const ref = firebase.database().ref('shop/'+this.shopname)
      //console.log(this.editLink)
      if(this.editLink.length!=0 && this.shopLink!=this.editLink){
        this.loading = true
        await ref.update({shoplink:this.editLink})
        .catch((err)=>{
          alert('เกิดปัญหาบางอย่างขึ้น')
          console.log(err)
        })
        this.shopLink = this.editLink
        this.edit = false
        this.loading = false
      }
      else{
        this.edit = false
      }
    },
    async updateDonation(){
      this.loading=true
      let newDonation = parseFloat(this.editDonate)
      if(!isNaN(newDonation)){
        const ref = firebase.database().ref('shop/' + this.shopname)
        await ref.update({donate: this.editDonate})
        this.donationRate = this.editDonate
        this.donationPopup = false
        this.loading = false 
      }
      else{
        alert('กรุณากรอกข้อมูลให้ถูกต้อง')
        this.editDonate = this.donationRate
        this.loading = false

      }
      
    },
    onPickFile() {
      this.$refs.fileInput.click();
    },
    onFilePicked(event) {
      const file = event.target.files[0];
      const fileType = file["type"];
      const validImageTypes = ["image/gif", "image/jpeg", "image/png"];
      if (validImageTypes.includes(fileType)) {
        this.editLogo = event.target.files[0];
        this.uploadPhoto()
      }
    },
    uploadPhoto() {
      if (this.editLogo != null) {
        const vm = this;
        const file = this.editLogo;
        const storage = firebase.storage();
        const storageRef = storage.ref();
        const uploadTask = storageRef.child("profile/" + file.name).put(file);
        uploadTask.on(
          "state_changed",
          function(snapshot) {
            // Observe state change events such as progress, pause, and resume
            // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
            var progress =
              (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            console.log("Upload is " + progress + "% done");
            switch (snapshot.state) {
              case firebase.storage.TaskState.PAUSED: // or 'paused'
                console.log("Upload is paused");
                break;
              case firebase.storage.TaskState.RUNNING: // or 'running'
                console.log("Upload is running");
                break;
            }
          },
          function(error) {
            // Handle unsuccessful uploads
            console.log(error);
            return;
          },
          function() {
            // Handle successful uploads on complete
            // For instance, get the download URL: https://firebasestorage.googleapis.com/...
            uploadTask.snapshot.ref
              .getDownloadURL()
              .then(function(downloadURL) {
                console.log("File available at", downloadURL);
                const shopref = firebase.database().ref("shop/" + vm.shopname);
                shopref.update({ logo: downloadURL });
                return downloadURL;
              })
              .then(url => {
                vm.logo = url;
              });
          }
        );
      }
    }
    },
    mounted: function() {
  
      const vm = this;
      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          console.log("ok");
          firebase
            .database()
            .ref("user")
            .once("value")
            .then(snapshot => {
              console.log("fetch");
              let data = snapshot.val();
              //console.log(data);
              for (let i in data) {
                if (data[i].email.toLowerCase() == user.email) {
                  if (data[i].role == "shopAdmin") {
                    //console.log(data[i].email);
                    //console.log(data[i].shop);
                    vm.shopname = data[i].shop;
                    vm.email = data[i].email;
                    vm.content = true;
                    break;
                  } else {
                    vm.goHomepage();
                    break;
                  }
                }
              }
            })
            .then(() => {
              const shopref = "shop/" + vm.shopname;
              firebase
                .database()
                .ref(shopref)
                .once("value")
                .then(snapshot => {
                  const shopdata = snapshot.val();
                  // console.log(shopdata);
                  vm.outbalance = shopdata.outstanding;
                  vm.save = shopdata.pieces;
                  vm.cost = shopdata.cost;
                  vm.logo = shopdata.logo;
                  vm.donationRate = shopdata.donate;
                  if(typeof shopdata.shoplink != 'undefined'){
                    vm.shopLink = shopdata.shoplink
                    vm.haveLink = true
                  }
                });
            });
        } else {
          vm.goLogin();
        }
      });
    }
  
};
</script>