<template>
  <v-app style="background-color:#00cccc; font-family: 'Prompt', sans-serif;">
    <v-container>
      <v-app-bar
        :collapse="!collapseOnScroll"
        :collapse-on-scroll="collapseOnScroll"
        fixed
        app
        color="#ff6600"
        dark
        dense
      >
        <v-toolbar-title>PassTick</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      </v-app-bar>

      <v-navigation-drawer v-model="drawer" src="../images/bg.png" app>
        <v-list nav dense>
          <v-list-item-group active-class="brown--text text--accent-4">
            <v-list-item @click="goHome">
              <v-list-item-title>หน้าหลัก</v-list-item-title>
            </v-list-item>

            <v-list-item @click="goproject">
              <v-list-item-title>ดูข้อเสนอโครงการ</v-list-item-title>
            </v-list-item>

            <v-list-item v-if="notLoggedIn" @click="goLogin">
              <v-list-item-title>เข้าสู่ระบบ</v-list-item-title>
            </v-list-item>

            <v-list-item v-if="notLoggedIn" @click="goRegister">
              <v-list-item-title>สมัครสมาชิก</v-list-item-title>
            </v-list-item>

            <v-list-item v-if="shopAdmin" @click="gocheckpoint">
              <v-list-item-title>อัปเดตยอดจากลูกค้า</v-list-item-title>
            </v-list-item>

            <v-list-item v-if="loggedIn" @click="goProfile">
              <v-list-item-title>โปรไฟล์</v-list-item-title>
            </v-list-item>

            
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>

      <v-row class="mt-12">
        <v-col cols="12" xs12 md12 xl12 v-for="item in shopList" :key="item.shopName">
          <v-card class="mx-auto" elevation="10" @click="setLocation(item.lat,item.lng), setshop(item.shopName,item.shopphone,item.shopLink)">
            <v-card-text
              class="headline font-weight-bold"
              style="text-align:center"
            >{{item.shopName}}</v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-dialog v-model="dialog" max-width="1000" persistent>
          <v-card>
           <v-col align="end">
                  <v-btn
                    color="orange"
                    dark
                    style="font-family: 'Prompt', sans-serif;"
                    @click="dialog=false,haveLink=false"
                  >ปิด</v-btn>
           </v-col>
            <v-col cols="12" xs12 md12>     
                <h2 id="username" style="color:#432711; text-align:center;font-family: 'Prompt', sans-serif;">ร้านอาหาร: {{nameshop}}</h2>
            <v-col cols="12" xs12 md12> 
              <h4 style="color:#432711; text-align:center;font-family: 'Prompt', sans-serif;">โทรศัพท์: {{shopphone}}</h4>
            </v-col>
            <v-row justify="center"> 
               <v-btn
                    v-if="haveLink"
                    color="orange"
                    dark
                    style="font-family: 'Prompt', sans-serif;"
                    v-bind:href="shopLink"
                    target="blank"
                  >link</v-btn>
            </v-row>
          </v-col>
            <GmapMap
              :center="{lat:parseFloat(shoplocation.lat), lng:parseFloat(shoplocation.lng)}"
              :zoom ="18"
              style="max-width: 1000px; height: 400px"
            >
              <GmapMarker
                :position="{lat:parseFloat(shoplocation.lat), lng:parseFloat(shoplocation.lng)}"
                :zoom ="18"
                @center_changed="setLocation"
              />
            </GmapMap>
          </v-card>
        </v-dialog>
      </v-row>
    </v-container>
  </v-app>
</template>


<script>
import firebase from "firebase";
export default {
  name: "shopInfo",
  components: {
    //HelloWorld,
  },

  data: () => ({
    //
    nameshop:"",
    shopphone:"",
    shopLink:"",
    shoplocation: {lat:0, lng:0},
    collapseOnScroll: true,
    drawer: false,
    dialog: false,
    image: null,
    selectedFile: null,
    shopList: [],
    loggedIn: false,
    notLoggedIn: true,
    email: "",
    admin: false,
    shopAdmin:false,
    haveLink:false,
  }),

  methods: {
    goProfile() {
      this.$router.push("/profile");
    },
    goLogin() {
      this.$router.push("/login");
    },
    goRegister() {
      this.$router.push("/choose");
    },
    goHome() {
      this.$router.push("/");
    },
    gocheckpoint(){
      this.$router.push("/shopaccept");
    },
    goproject() {
      if (this.admin) {
        this.$router.push("/adminProject");
      } else {
        this.$router.push("/showproject");
      }
    },
  
    setLocation(shopLat,shopLng){
      this.shoplocation.lat = shopLat
      this.shoplocation.lng = shopLng
      console.log(this.shoplocation.lat)
      this.dialog = true
      
    },
    setshop(name,phone,link){
      this.nameshop = name
      this.shopphone = phone
      if(typeof link!='undefined'){
        this.shopLink = link
        this.haveLink = true
      }
     
    },

  },

  mounted: function() {
    const vm = this;
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        vm.email = user.email;
        vm.loggedIn = true;
        vm.notLoggedIn = false;
        firebase
          .database()
          .ref("user")
          .once("value")
          .then(snapshot => {
            const data = snapshot.val();
            //console.log(data)
            for (let i in data) {
              if (
                data[i].email == vm.email &&
                (data[i].role == "admin" || data[i].role == "shopAdmin")
              ) {
                vm.admin = true;
              }
              else if (data[i].role == "shopAdmin"){
                vm.shopAdmin = true;
              }
            }
          });
      }
    });

    firebase
      .database()
      .ref("shop")
      .once("value")
      .then(snapshot => {
        let data = snapshot.val();
        for (let i in data) {
          this.shopList.push({ shopName: i ,
                               lat:parseFloat(data[i].lat),
                               lng:parseFloat(data[i].lng), shopphone: data[i].tel, shopLink: data[i].shoplink});
        }
      });

  
  }
};
</script>