<template>
  <v-app style="font-family: 'Prompt', sans-serif;">
    <v-card class="overflow-hidden" style="background-color:#fafafa">
      <v-app-bar
        :collapse="!collapseOnScroll"
        :collapse-on-scroll="collapseOnScroll"
        fixed
        app
        color="#ff6600"
        dark
        dense
      >
        <v-toolbar-title>PassTick</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      </v-app-bar>

      <v-navigation-drawer v-model="drawer" src="../images/bg.png" app>
        <v-list nav dense>
          <v-list-item-group active-class="brown--text text--accent-4">
            <v-list-item>
              <v-list-item-title>หน้าหลัก</v-list-item-title>
            </v-list-item>

            <v-list-item @click="goshop">
              <v-list-item-title>ดูร้านค้า</v-list-item-title>
            </v-list-item>

            <v-list-item v-if="notLoggedIn" @click="goLogin">
              <v-list-item-title>เข้าสู่ระบบ</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="notLoggedIn" @click="goRegister">
              <v-list-item-title>สมัครสมาชิก</v-list-item-title>
            </v-list-item>

            <v-list-item v-if="loggedIn" @click="goProfile">
              <v-list-item-title>โปรไฟล์</v-list-item-title>
            </v-list-item>
            
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </v-card>
    <v-container class="mt-10">
      <v-row>
        <v-col cols="12" xs12 md12>
          <h1 style="color:#432711; text-align:center;">โครงการ</h1>
        </v-col>
      </v-row>

          <v-card>
    <v-card-title>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        label="ค้นหา"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table 
      :headers="headers"
      :items="project"
      :search="search"
      loading = true
      loading-text="Loading... Please wait"
      @click:row = "info"
    ></v-data-table>
  </v-card>

 <v-row justify="center">
        <v-dialog v-model="dialog" max-width="400">
          <v-card>
            <v-card-title class="headline">{{rTitle}}</v-card-title>

            <v-card-text>{{rMsg}}</v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn color="green darken-1" style="font-family: 'Prompt', sans-serif;" text @click="goback">ปิด</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
   
    </v-container>
  </v-app>
</template>


<style>
tr:nth-child(even) {
  background-color: #6eccce;
}

</style>

<script>
import firebase from "firebase";
export default {
  data: () => ({
    rTitle:'รายละเอียดโครงการ',
    rMsg:'รายละเอียด....',
    dialog: false,
    collapseOnScroll: true,
    drawer: false,
    loggedIn: false,
    notLoggedIn: true,
    email:'',
     search: '',
        headers: [
          {
            text: 'ชื่อโครงการ',
            align: 'left',
            sortable: false,
            value: 'name',
          },
          { text: 'สถานะ', value: 'status' },
        ],
        project: []//{name,status,description},
  }),
  methods: {
    goProfile() {
      this.$router.push("/profile");
    },
    goLogin() {
      this.$router.push("/login");
    },
    goRegister() {
      this.$router.push("/choose");
    },
    goshop() {
      this.$router.push("/shop");
    },
    goback() {
        this.dialog = false;
    },
    goAdminProject(){
      this.$router.push("/adminProject");
    },
    info(value) {
        this.dialog = true;
        this.rTitle = value.name;
        this.rMsg = value.description;   
    },
  },
  mounted: function() {
    const vm = this
    firebase.auth().onAuthStateChanged(user => {
      if(user){
        this.notLoggedIn = false
        this.loggedIn = true
        vm.email = user.email
        firebase.database().ref('user').once('value')
        .then(snapshot => {
          const data = snapshot.val()
          for(let i in data){
            if(data[i].email == vm.email && (data[i].role == 'admin' || data[i].role == 'shopAdmin')){
              vm.goAdminProject()
            }
          }
        })
      }
    })
    firebase.database().ref('Projects').once('value')
    .then(snapshot => {
      let data = snapshot.val()
      //console.log(data)
      for(let i in data){
        for(let j in data[i]){
          //console.log(data[i][j])
          let projects = {
            name:data[i][j].projectName,
            status:data[i][j].status,
            description:data[i][j].describe,
            date:Date(data[i][j].time),
            time:data[i][j].time
            }
          vm.project.push(projects)
        }
      }  
    })
    .then(()=>{
      vm.project.sort((a,b)=>{
        if(parseInt(a.time)>parseInt(b.time)){
          //console.log('case1')
          return -1
        }
        else if (parseInt(a.time)<parseInt(b.time)){
          //console.log('case2')
          return 1
        }
        else if(parseInt(a.time) == parseInt(b.time)){
          //console.log('case3')
          return 0
        }
      })
    })

  }
};
</script>