<template>
<v-col cols="12" style="background-color:#b6e6f7">

    <v-col cols="12">
      <img src="https://firebasestorage.googleapis.com/v0/b/passtick2.appspot.com/o/images%2Fproblem3%20(3).jpg?alt=media&token=158788e3-e29a-47c1-abd8-7026efb9d6df">
    
    </v-col>
    <v-card class="mx-auto" max-width="300">
      <v-card-text>
        <h3 class="headline " style="text-align:center">การจัดอันดับ</h3>
      </v-card-text>
    </v-card>

    <v-col cols="12">
      <v-card class="mx-auto" mx-width="344" outlined>
        <v-card-actions>
          <v-col cols="6">
            <v-row align="center" justify="center">
              <v-btn width="100%" text>ผู้ใช้งาน</v-btn>
            </v-row>
          </v-col>
          <v-col cols="6">
            <v-row align="center" justify="center">
              <v-btn width="100%" text>ร้านค้า</v-btn>
            </v-row>
          </v-col>
        </v-card-actions>

        <v-simple-table fixed-header height="100%">
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">อันดับ</th>
                <th class="text-left">ชื่อ</th>
                <th class="text-left">ลดพลาสติก(ชิ้น)</th>
                <th class="text-left">จำนวนเงิน(บาท)</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in ranking" :key="item.name">
                <td>{{ item.rank }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.reduce }}</td>
                <td>{{ item.money }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card>
    </v-col>
</v-col>
</template>

<script>
export default {
  data() {
    return {
      ranking: [
        {
          rank: 1,
          name: "manee",
          reduce: 156,
          money: 178
        },
        {
          rank: 2,
          name: "mana",
          reduce: 147,
          money: 165
        }
      ]
    };
  }
};
</script>

