<template>
  <v-app>
    <v-container>
      <v-row justify="center">
        <v-btn color="green darken-1" text @click="test">Upload</v-btn>
        <v-btn color="green darken-1" text @click="onPickFile">Choose File</v-btn>
        <input type="file" id="image" accept="image/*" style="display:none" ref="fileInput" @change="onFilePicked" >
        
      </v-row>
    </v-container>
  </v-app>
</template>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
import axios from 'axios'
export default {
  name: 'test2',
  components: {
    //HelloWorld,
  },
  data: () => ({
    //
    dialog:false,
    image:null,
    selectedFile:null,
  }),

  methods:{
    onPickFile(){
      this.$refs.fileInput.click()
    },
    onFilePicked(event){
      console.log(event)
      this.selectedFile = event.target.files[0]
      


    },
    test(){
      axios.get('https://us-central1-passtickdb.cloudfunctions.net/getUser.json')
      .then(response =>{
        let data = response.data
        for(let i in data){
          console.log(data[i].username)
        }
      })
    

  },
  parseJSON(json){
    console.log(json);


  },
  
  }

};
</script>