<template>
  <v-app>
    <v-container>
    <v-col cols="12">
        <span style="font-size:2em;display:block;text-align:center">ขอบคุณที่รักสิ่งแวดล้อม</span>
    </v-col>
      
      <v-col cols="12" align="center" justify="center">
        <v-img src="../images/logo.png" max-height = "600px" max-width = "600px"/>
      </v-col>
      <v-col cols="12" align="center" justify="center">
        <v-btn rounded x-large style="width:800px" :elevation="7" color="primary" dark>ยืนยัน</v-btn>
      </v-col>
      <br />
      <v-col cols="12" align="center" justify="center">หรือ</v-col>
      <br />
      <v-col cols="12" align="center" justify="center">
        <v-btn
          rounded
          x-large
          style="width:800px"
          :elevation="7"
          outlined
          color="primary"

        >เข้าสู่ระบบ/สมัครสมาชิก</v-btn>
      </v-col>
      <br />

      <v-col cols="12" align="center" justify="center">เพื่อสะสมคะแนนความดี</v-col>

    </v-container>
  </v-app>
</template>