<template>
  <v-app style="font-family: 'Prompt', sans-serif;">
    <v-container v-if="content">
    <v-card class="overflow-hidden" style="background-color:#fafafa">
      <v-app-bar
        :collapse="!collapseOnScroll"
        :collapse-on-scroll="collapseOnScroll"
        fixed
        app
        color="#ff6600"
        dark
        dense
      >
        <v-toolbar-title>PassTick</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      </v-app-bar>

      <v-navigation-drawer v-model="drawer" src="../images/bg.png" app>
        <v-list nav dense>
          <v-list-item-group active-class="brown--text text--accent-4">
            <v-list-item   @click="goHome">
              <v-list-item-title>หน้าหลัก</v-list-item-title>
            </v-list-item>

            <v-list-item @click="goshop">
              <v-list-item-title>ดูร้านค้า</v-list-item-title>
            </v-list-item>

            <v-list-item  @click="goproject">
              <v-list-item-title>ดูข้อเสนอโครงการ</v-list-item-title>
            </v-list-item>

            <v-list-item v-if="loggedIn" @click="goProfile">
              <v-list-item-title>โปรไฟล์</v-list-item-title>
            </v-list-item>


          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </v-card>
    <v-container class="mt-10">
      <v-row>
        <v-col cols="12" xs12 md12>
          <h1 style="color:#432711; text-align:center;">โครงการของฉัน</h1>
        </v-col>
      </v-row>

      <v-col cols="12" xs12 md12 xl12 v-for="item in projectList" :key="item.name">
        <v-card class="mx-auto" elevation="10">
          <v-col cols="12" xs="12" md="12" xl="12" class="mt-auto">
            <span style="font-size:20px">ชื่อโครงการ : {{item.name}}</span>
          </v-col>
          <v-col cols="12" xs="12" md="12" xl="12" class="mt-auto">
            <span style="font-size:20px">คำอธิบาย : {{item.des}}</span>
          </v-col>
          <v-col cols="12" xs="12" md="12" xl="12" class="mt-auto">
            <span style="font-size:20px">ขอทุนจำนวน : {{item.bud}} บาท</span>
          </v-col>
          <v-col cols="12" xs="12" md="12" xl="12" class="mt-auto">
            <span style="font-size:20px">ผลการพิจารณา : {{item.status}}</span>
          </v-col>

          <v-card-actions>
            <v-spacer></v-spacer>
            <a v-bind:href="item.download" style="text-decoration:none" target="_blank">
              <v-btn color="#00cccc" rounded width="200">ดูไฟล์ข้อเสนอโครงการ</v-btn>
            </a>
          </v-card-actions>
        </v-card>
      </v-col>

      <v-row justify="center">
        <v-dialog v-model="dialog" max-width="400">
          <v-card>
            <v-card-title class="headline">{{rTitle}}</v-card-title>

            <v-card-text>{{rMsg}}</v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn color="green darken-1" text @click="goback">ตกลง</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </v-container>
    </v-container>
     <v-container v-else>
      <div class="text-center" style="padding-top: 25px; padding-bottom:50px; ">
        <v-progress-circular indeterminate color="green"></v-progress-circular>
      </div>
    </v-container>
  </v-app>
</template>


<script>
import firebase from "firebase";
export default {
  data: () => ({
    collapseOnScroll: true,
    drawer: false,
    loggedIn: false,
    notLoggedIn: true,
    rTitle: "",
    rMsg: "",
    projectList: [],
    username: "",
    dialog: false,
    content:false
  }),
  methods: {
    goProfile() {
      this.$router.push("/profile");
    },
    goLogin() {
      this.$router.push("/login");
    },
    goHome() {
      this.$router.push("/");
    },
    goRegister() {
      this.$router.push("/register");
    },
    goshop() {
      this.$router.push("/shop");
    }    ,
    goproject() {
      this.$router.push("/showproject");
    },
    goback() {
      this.dialog = false;
    },
    goDownload() {
      window.open(this.download);
    }
  },
  mounted: function() {
    const vm = this;
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        vm.loggedIn = true;
        vm.notLoggedIn = false;
        firebase
          .database()
          .ref("user")
          .once("value")
          .then(snapshot => {
            const userData = snapshot.val();
            for (let i in userData) {
              if (userData[i].email.toLowerCase() == user.email) {
                vm.username = userData[i].username;
                vm.content = true
                console.log("pass");
                break;
              }
            }
            firebase
              .database()
              .ref("Projects/" + vm.username)
              .once("value")
              .then(snapshot => {
                const data = snapshot.val();
                for (let i in data) {
                  let project = {
                    name: data[i].projectName,
                    des: data[i].describe,
                    status: data[i].status,
                    bud: data[i].budget,
                    download: data[i].fileURL
                  };
                  vm.projectList.push(project);
                }
              });
          });
      }else{
        vm.goHome()
      }
    });
  }
};
</script>